.breadcrumb {
    margin-bottom: 10px;

    ul {
        display: flex;
        list-style: none;

        li+li:before {
            padding: 8px;
            color: $color-white-20;
            content: "/\00a0";
        }

        li {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;

            &:not(:last-child),
            &:first-child {
                .bread__item:not(a) {
                    color: $color-white-20;
                }
            }

            a {
                transition: $transition;
                color: $color-primary;
                opacity: .8;
                font-weight: 600;

                &:hover {
                    opacity: 1;
                }

                &::after {
                    text-decoration: none;
                }
            }

            a,
            div {
                padding: 0;
                margin: 0;
                font-size: 14px;
            }
        }
    }
}