.custom-select {
    position: relative;
    max-width: 100%;
    min-width: 200px;
    color: $color-text;

    &:not(.button) {
        .select-button {
            width: 100%;
            font-size: 1.15rem;
            background-color: $color-disabled;
            padding: 0.675em 1em;
            border: 1px solid $color-white-5;
            border-radius: 0.25rem;
            cursor: pointer;

            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }
    }

    &.button {
        .select-button {
            cursor: pointer;
            color: $color-text;

            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }
    }

    .arrow {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid $color-text;
        transition: $transition;
    }

    .selected-value {
        text-align: left;
    }

    .select-dropdown {
        position: absolute;
        list-style: none;
        width: 100%;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
        background-color: $color-disabled;
        border-radius: 4px;
        margin-top: 10px;
        max-height: 300px;
        overflow-y: auto;
        transition: $transition;

        opacity: 0;
        visibility: hidden;
        z-index: 20;
    }

    .select-dropdown li {
        position: relative;
        cursor: pointer;
        display: flex;
        gap: 1rem;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
    }

    .select-dropdown li label {
        width: 100%;
        padding: 8px 10px;
        cursor: pointer;
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .select-dropdown::-webkit-scrollbar {
        width: 7px;
    }

    .select-dropdown li:hover,
    .select-dropdown input:checked~label {
        background-color: $color-white-10;
    }

    .select-dropdown input:focus~label {
        background-color: $color-white-3;
    }

    .select-dropdown input[type="radio"] {
        position: absolute;
        left: 0;
        opacity: 0;
    }

    /* interactivity */

    &.active .arrow {
        transform: rotate(180deg);
    }

    &.active .select-dropdown {
        opacity: 1;
        visibility: visible;
    }

    // .select-button {
    //     &:focus {
    //         &::before {
    //             border: 1px solid $color-text;
    //         }
    //     }
    // }
}