.alert {
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: $border-radius-el;
    display: flex;
    align-items: center;
    font-size: 14px;

    svg.icon {
        margin-right: 10px;
        font-size: 16px;
    }

    &-success {
        color: $color-text-inverse;
        background-color: $color-success;
        box-shadow: 0px 0px 20px -10px $color-success;
    }

    &-danger,
    &-error {
        color: $color-text-inverse;
        background-color: $color-error;
        box-shadow: 0px 0px 20px -10px $color-error;
    }

    &-warning {
        color: $color-text-inverse;
        background-color: $color-warning;
        box-shadow: 0px 0px 20px -10px $color-warning;
    }

    &-info {
        color: $color-text-inverse;
        background-color: $color-secondary;
        box-shadow: 0px 0px 20px -10px $color-secondary;
        // background-color: $color-info;
    }

    a {
        color: inherit;
        font-weight: 500;
        margin-left: 10px;
        text-decoration: underline;
    }
}