$input-border-radius: 18px;
$input-border-color: #ffffff09;
$input-border-width: 1px;
$input-border-focus-color: $color-primary;
$input-color: $color-text;
$input-padding: 24px;
$input-font-size: $font-size-base;
$input-placeholder-color: $color-inactive;

.input-form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &.has-error {
        .error {
            color: $color-error;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

    input[type="submit"] {
        @extend .btn;
        @extend .primary;
        @extend .size-s;
        width: 100%;
    }

    >div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        align-items: center;

        label {
            user-select: none;
            align-items: center;
            gap: 0;
            display: flex;
            flex-direction: row;
            color: $color-text;
            font-size: 14px;
            font-weight: 500;
        }
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 1.25em;
        height: 1.25em;
        margin-top: -0.125em;
        margin-inline-end: 0.5em;
        border-width: 0.125rem;
        vertical-align: middle;
        cursor: pointer;
        accent-color: $color-text;
        padding: 0;
        border: 2px solid $color-white-10;
        border-radius: 4px;
        outline: 0;
        background-color: $color-disabled;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        color: $color-text;
        font-weight: normal;
        transition: background-color 0.3s, border-color 0.3s, color 0.3s, box-shadow 0.3s;

        &:checked {
            border: 2px solid $color-primary-light;
            background-color: $color-primary;
            color: $color-text-inverse;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(0, 0, 0)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
            background-position: center;
            background-size: 0.75em auto;
            background-repeat: no-repeat;
        }
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="search"],
    input[type="number"],
    select,
    textarea {
        background: $color-disabled;
        border: $input-border-width solid $input-border-color;
        border-radius: $input-border-radius;
        color: $input-color;
        font-size: $input-font-size;
        padding: $input-padding;
        width: 100%;
        transition: $transition;
        padding-top: $input-padding + 6;
        padding-bottom: $input-padding - 6;

        &:-webkit-autofill {
            color: $input-color;
            background: $color-disabled;
        }

        &:focus {
            border-color: $input-border-focus-color;
            outline: none;
        }

        &:focus~label,
        &:valid~label {
            top: 11px;
            left: 24px;
            font-size: 0.8em;
            color: $color-inactive;
        }

        &[aria-invalid=false] {
            border: 1px solid rgba(101, 255, 126, 0.20);
            background: rgba(101, 255, 126, 0.02);

            &~label {
                top: 11px;
                left: 24px;
                font-size: 0.8em;
                color: $color-inactive;
            }
        }

        &[aria-invalid=true] {
            border-radius: 18px;
            border-color: rgba(241, 73, 73, 0.20);
            background: rgba(241, 73, 73, 0.02);

            &~label {
                top: 11px;
                left: 24px;
                font-size: 0.8em;
                color: $color-inactive;
            }
        }

        option {
            background-color: $color-disabled;
        }

        ~label {
            font-weight: 400;
            position: absolute;
            top: 26px;
            left: 27px;
            transition: all $transition ease;
            pointer-events: none;
            font-size: 15px;
            color: #ffffff93;
        }
    }
}

.form-checkbox {
    position: relative;
    display: block;

    $checkbox-size: 20px;

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;

        // Text
        &+label {
            display: inline-block;
            position: relative;
            cursor: pointer;
            line-height: $checkbox-size;
            padding-left: $checkbox-size + 10;
            font-size: $checkbox-size - 2;
            color: $color-text !important;

            // Checkbox
            &:before {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                content: "";
                background: transparent;
                width: $checkbox-size;
                height: $checkbox-size;

                box-shadow: inset 0 0 0 1px $color-white-10;
                border-radius: 4px;
                transition: 200ms ease-in-out all;
            }

            // Tick
            &:after {
                position: absolute;
                display: block;
                top: 4px;
                left: 8px;
                content: "";
                width: 5px;
                height: 10px;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
                transform: rotate(45deg);

                transition: 200ms ease-in-out all;
            }
        }

        // Focus
        &+label:focus {
            outline: none;
        }

        // Checked
        &:checked {
            &+label {
                &:before {
                    background: $color-primary;
                    box-shadow: none;
                }

                &:after {
                    border-color: $color-text-inverse;
                }
            }
        }

        // Disabled
        &:disabled {
            &+label {
                &:before {
                    // background: darken($color-primary, 50);
                    box-shadow: none;
                }

                &:after {
                    border-color: transparent;
                }
            }
        }

        // Disabled Checked
        &:checked:disabled {
            &+label {
                &:before {
                    background: darken($color-primary, 50);
                    box-shadow: none;
                }

                &:after {
                    border-color: $color-text-inverse;
                }
            }
        }
    }
}