.modals-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-modal-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}

.modal {
    background: $color-card;
    border-radius: $border-radius;
    max-width: 600px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    position: fixed;
    transform: translate(0px, -8px);
}

.modal-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-white-3;
    padding: 25px 30px;

    .modal-title-text {
        font-size: 20px;
        font-weight: 600;
        font-family: $font-secondary;
    }

    .modal-title-close {
        display: flex;
        align-items: center;

        svg {
            height: 25px;
            fill: #ffffff4d;
            transition: .3s;
            cursor: pointer;

            &:hover {
                fill: #D54E4A;
            }
        }
    }
}

.modal-content,
.modal-footer {
    padding: 30px;
    font-size: 1em;
}

.modal-content {
    padding-bottom: 20px;

    .form-group {
        &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border: none;
        }
    }
}

.modal-footer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.modal.opened {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
}

.modals-container.opened {
    opacity: 1;
    visibility: visible;
}

// .btn-modal {
//     display: inline-flex;
//     width: auto;
//     padding: 5px 0 5px 0;
//     color: $color-primary;

//     &.right {
//         margin-left: auto;
//         order: 2;
//     }
// }

.modal-content-note {
    padding: 7px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 3px;
    background: linear-gradient(to left, #191919 35%, #fff 340%) right;
    margin-bottom: 10px;

    &.modal-content-note-info {
        background: linear-gradient(to left, #191919 35%, #69D3FF 340%) right;

        .modal-content-note-text {
            color: #69D3FF;
        }

        .modal-content-note-icon svg {
            fill: #69D3FF;
        }
    }

    &.modal-content-note-success {
        background: linear-gradient(to left, #191919 35%, #00C853 340%) right;

        svg {
            fill: #00C853;
            width: 12px !important;
        }

        .modal-content-note-text {
            color: #00C853;
        }
    }

    &.modal-content-note-error {
        background: linear-gradient(to left, #191919 35%, #D54E4A 340%) right;

        .modal-content-note-text {
            color: #D54E4A;
        }

        .modal-content-note-icon svg {
            fill: #D54E4A;
            width: 12px !important;
        }
    }

    &.modal-content-note-warning {
        background: linear-gradient(to left, #191919 35%, #FFC107 340%) right;

        .modal-content-note-text {
            color: #FFC107;
        }

        .modal-content-note-icon svg {
            fill: #FFC107;
            width: 2px !important;
        }
    }

    .modal-content-note-text {
        font-weight: 500;
        font-size: 14px;
        color: #fff;
        flex: 1;
    }

    .modal-content-note-icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff0d;
        border-radius: 3px;

        svg {
            width: 7px;
        }
    }
}