.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: $color-disabled;
    border: $input-border-width solid $input-border-color;
    border-radius: $input-border-radius;
    color: $input-color;
    font-size: $input-font-size;
    padding: 18px;
    width: 100%;
    transition: $transition;
    padding-right: 40px;

    &:focus {
        border-color: $input-border-focus-color;
        outline: none;
    }

    /* Стили для option */
    option {
        background-color: $color-disabled;
        color: $input-color;
    }
}