.toast-container {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    gap: 10px;
}

.toast {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    padding-left: 30px;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
    touch-action: pan-y;
    transition: 0.3s ease-out;
    transform: translateY(5px) scale(0.95);
    opacity: 0;
    overflow: hidden;
    font-weight: 500;
    letter-spacing: 0.3px;
    border-radius: 12px;
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.11);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background: rgba(29, 29, 31, .72);
    margin: 0 auto;

    &.toast-info {
        color: #69D3FF;

        .toast-progress-bar.primary {
            background-color: #69D3FF;
        }

        svg {
            fill: #69D3FF;
            width: 8px;
            margin-top: -4px;
        }
    }

    &.toast-success {
        color: #51FF5D;

        .toast-progress-bar.primary {
            background-color: #51FF5D;
        }

        svg {
            fill: #51FF5D;
        }
    }

    &.toast-warning {
        color: #FFDA69;

        .toast-progress-bar.primary {
            background-color: #FFDA69;
        }

        svg {
            fill: #FFDA69;
            margin-left: 4px;
            width: 3px;
        }
    }

    &.toast-error {
        color: #D54E4A;

        .toast-progress-bar.primary {
            background-color: #D54E4A;
        }

        svg {
            fill: #D54E4A;
        }
    }

    &.toast-hidden {
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        transition: all 0.3s ease;
    }

    .toast-content-icon {
        width: 12px;
        margin-right: 10px;
        display: flex;
        align-items: center;
    }

    .toast-close {
        margin-left: auto;
        cursor: pointer;
    }

    &.show {
        transform: translateY(0px) scale(1);
        opacity: 1;
    }
}

.toast-progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 4px;
    margin-left: 15px;
    margin-bottom: 13px;
    max-height: calc(100% - 26px);
    background-color: var(--primary);
    border-radius: 5px;
    transition: height linear;

    &.progress-bar-back {
        transition: none;
        height: 100%;
        background-color: #ffffff14;
    }
}