.chips-container {
    display: flex;
    max-width: 200px;
    overflow: auto;
    padding-bottom: 5px;
    gap: 5px;
    
    > div {
        padding: 5px 10px;
        border-radius: $border-radius;
        background-color: $color-primary;
        color: $color-text-inverse;
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
        box-shadow: 2px 2px 9px -6px $color-text-inverse;
    }
}