.driver-popover {
    background-color: $color-disabled;
    color: $color-text;
}

.driver-popover-arrow {
    border: 5px solid $color-disabled;
}

.driver-popover-arrow-side-right {
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
}

.driver-popover-arrow-side-left {
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
}

.driver-popover-arrow-side-bottom {
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
}

.driver-popover-arrow-side-top {
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.driver-popover-title {
    color: $color-text;
}

.driver-popover-description {
    font-size: 13px;
}

.driver-popover-close-btn {
    &:hover {
        color: $color-primary;
    }
}

.driver-popover * {
    font-family: inherit;
}

.driver-popover-footer button {
    border: none;
    flex: 1;
    text-align: center;
    background-color: $color-primary-light;
    color: $color-text;
    text-shadow: none;
    font-size: 13px;
    padding: 5px 8px;
    border-radius: 6px;
    transition: .3s;
    font-family: inherit;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: $color-primary;
        color: $color-text-inverse;
    }
}