.table-action-buttons {
    display: flex;
    gap: 5px;

    i,
    svg {
        pointer-events: none;
    }

    >div,
    a {
        padding: 10px;
        width: 32px;
        height: 32px;
        border: 1px solid $color-white-5;
        color: $color-text;
        display: flex;
        border-radius: $border-radius;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: $transition;

        &.delete {
            border: 1px solid #f1494929;
            color: $color-error;

            &:hover {
                border: 1px solid $color-error;
                background-color: #f1494929;
            }
        }

        &.activate {
            border: 1px solid #65ff7e29;
            color: $color-success;

            &:hover {
                border: 1px solid $color-success;
                background-color: #65ff7e29;
            }
        }

        &.disable {
            border: 1px solid #ffc04630;
            color: $color-warning;

            &:hover {
                border: 1px solid $color-warning;
                background-color: #ffc04630;
            }
        }

        &.change {
            border: 1px solid #ffc04630;
            color: $color-warning;

            &:hover {
                border: 1px solid $color-warning;
                background-color: #ffc04630;
            }
        }

        &.view {
            >i {
                transition: $transition;
            }

            &:hover {
                background-color: $color-white-20;

                i {
                    transform: rotate(45deg);
                }
            }
        }
    }
}

.combined-cell {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;

    >img.img-avatar {
        width: 35px !important;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
    }

    >.combined-content {
        display: flex;
        flex-direction: column;

        >p {
            line-height: 1.2;
        }

        >small {
            color: rgb(255 255 255 / 35%);
            ;
        }
    }
}

.table-status {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: $color-white-10;
    font-size: 14px;
    font-weight: 500;
    max-width: max-content;

    &.active {
        background-color: $color-success;
        color: $color-text-inverse;
    }

    &.disabled {
        background-color: $color-warning;
        color: $color-text-inverse;
    }

    &.error {
        background-color: $color-error;
        color: $color-text-inverse;
    }
}

.paid-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}