.vscode
.specstory
/config-dev/
/vendor/
/docker/logs/nginx/*
/docker/logs/php.log/*
/docker/mysql/*
/storage/logs/*
/storage/app/cache/*
/storage/app/views/*
/storage/app/translations/*
/public/assets/img/cache/*
/public/assets/css/cache/*
/public/assets/js/cache/*
.DS_Store
.env
.phpunit.result.cache
.dev
colors.json
.kiro
storage/app/orm_schema.php
php-cs-fixer
/.php-cs-fixer.cache
docs/
.cursor