includes:
    - phpstan-baseline.neon

parameters:
    level: 3
    paths:
        - app/Core
        - app/Modules
    excludePaths:
        - app/Core/Database/Entities
        - app/Modules/*/vendor
        - app/Modules/*/database/Entities
        - '*/database/Migrations/*'
        - app/*/Tests
        - app/Modules/*/Resources
    scanDirectories:
        - app/Helpers
    bootstrapFiles:
        - bootstrap/phpstan-boot.php
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Ignore magic methods from Cycle ORM and admin platform
        - '#Call to an undefined method Flute\\Admin\\Platform\\Field::#'
        - '#Call to an undefined static method Flute\\Core\\Router\\Router::screen\(\)#'
        - '#Access to an undefined property .+::\$(?!trans_choice)#'
        # But DO NOT ignore undefined functions - we want to catch those!