$search-bg: #202020;

.navbar {
    position: sticky;
    top: 10px;
    margin: 20px auto;
    height: 70px;
    background-color: $color-disabled;
    border-radius: 40px;
    z-index: 100;
    padding: 5px;
    box-shadow: 0px 2px 20px 0px $color-card;

    #nav_mobile {
        display: none;
    }

    @media (max-width: 768px) {
        width: calc(100% - 20px);

        #nav_desc {
            display: none
        }

        #nav_mobile {
            display: block;
        }
    }

    &--container {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-items {
            position: absolute;
            display: flex;
            flex-direction: row;
            gap: 30px;
            align-items: center;
            margin: 0 auto;
            left: 50%;
            transform: translateX(-50%);

            >a,
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                color: $color-text;
                opacity: .7;
                cursor: pointer;
                transition: $transition;
                position: relative;

                p {
                    font-size: 14px;
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    align-items: center;
                }

                .submenu {
                    top: 40px;
                    position: absolute;
                    transition: $transition;
                    visibility: hidden;
                    opacity: 0;
                    min-width: 200px;
                    padding: 10px;
                    border-radius: $border-radius / 2;
                    background-color: $color-modal-bg;
                    display: flex;
                    flex-direction: column;
                    @include blur();

                    >li {
                        display: inline-flex;
                        flex: 1;

                        >a {
                            width: 100%;
                            font-size: 14px;
                            padding: 10px 15px;
                            color: $color-text;
                            transition: $transition;
                            border-radius: 6px;
                            display: flex;
                            flex-direction: row;
                            gap: 5px;
                            align-items: center;

                            &:hover {
                                color: $color-primary;
                                background-color: $color-white-5;
                            }
                        }
                    }
                }

                &:hover {
                    opacity: 1;
                }

                &.active {
                    opacity: 1;
                    color: $color-primary;
                }

                &.opened {
                    opacity: 1;
                    color: $color-primary;

                    p>i {
                        transform: rotate(180deg);
                    }

                    .submenu {
                        visibility: visible;
                        opacity: 1;
                        top: 50px;
                    }
                }
            }
        }
    }

    .navbar-brand {
        display: flex;
        margin-left: 15px;
        align-items: center;
        gap: 15px;
        color: $color-text;

        img {
            max-height: 30px;
        }
    }
}

#nav_mobile {
    .mobile_menu {
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
}

.navbar-search {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: $search-bg;
    border-radius: 50px;
    gap: 10px;
    opacity: 0;
    left: 0;
    margin-left: 11px;
    transition: $transition;
    visibility: hidden;
    top: 10px;

    &.opened {
        visibility: visible;
        opacity: 1;
    }

    &.has-value {
        width: 100%;
        height: 100%;
        left: 0;
        border-radius: 50px;
        margin-left: 0;
        top: 0;
        // background-color: $color-white-3;
        // @include blur();

        .input {
            >i {
                opacity: 0;
                visibility: hidden;
            }

            input {
                margin-left: 10px;
            }
        }
    }

    .input {
        flex: 1;

        >i {
            color: $color-inactive;
            position: absolute;
        }

        input {
            transition: $transition;
            margin-left: 25px;
            width: 100%;
            font-weight: 500;
            font-size: 14px;
            color: $color-text;
        }
    }

    .right-search,
    .input {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .right-search {
        >i {
            transition: $transition;
            cursor: pointer;
            opacity: .6;

            &:hover {
                opacity: 1;
                color: $color-error;
            }
        }
    }
}

.navbar_right_controls,
.default-panel,
.navbar-panel {
    display: flex;
    align-items: center;
    gap: 10px;
}

.default-panel {
    display: flex;

    .navbar_right_controls {
        border-right: 1px solid $color-white-5;
        padding-right: 10px;
    }
}

.nav_guest_lang {
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: .4;
    transition: $transition;

    &:hover {
        opacity: .8;
    }

    img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50px;
    }
}

.miniprofile_container {
    @include blur();
    background: $color-modal-bg;
    border: 1px solid $color-white-3;
    width: 300px;
    padding-bottom: 20px;
    top: calc(100% + 5px);
    right: 10px;
    z-index: 100;
    border-radius: $border-radius;
    overflow: hidden;
    position: absolute !important;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    user-select: none;
    padding: 0;
    padding: 15px;

    .miniprofile_base {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .miniprofile_lang {
        border-radius: $border-radius;
        cursor: pointer;
        @include blur();
        background-color: $color-white-3;

        img {
            width: 26px;
            height: 26px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .mp-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 5px;
        margin-bottom: 15px;

        >i {
            font-size: 25px;
            color: $color-inactive;
            transition: $transition;
        }

        &:hover {
            >i {
                color: $color-primary;
                transform: rotate(45deg);
            }

            .miniprofile_name_text {
                color: $color-primary;
            }
        }
    }

    .miniprofile_name {
        display: flex;
        gap: 3px;
        flex-direction: column;
        white-space: nowrap;
        flex: 1;
        overflow: hidden;
        justify-content: center;
        cursor: pointer;
        transition: .3s;
        margin: 0;

        .miniprofile_my_profile {
            font-size: 14px;
            line-height: 1;
            font-weight: 500;
            color: $color-inactive;
        }

        .miniprofile_name_text {
            color: $color-text;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 600;
            font-size: 16px;
            transition: $transition;
        }

        div {
            line-height: 1;
        }
    }

    .miniprofile_plus,
    .miniprofile_logout,
    .miniprofile_lang {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 69px;
        width: 69px;
        border-radius: ($border-radius / 2);
        cursor: pointer;
        transition: .3s;
        margin: 0;
    }

    .miniprofile_plus {
        font-size: 17px;
    }

    .miniprofile_logout {
        font-size: 26px;
        box-shadow: inset 0px 0px 0px 2px $color-error;
        color: $color-error;
    }

    .miniprofile_balance {
        display: flex;
        gap: 3px;
        flex-direction: column;
        white-space: nowrap;
        flex: 1;
        overflow: hidden;
        justify-content: center;
        border-radius: ($border-radius / 2);
        padding: 20px;
        background-color: $color-white-3;
        transition: $transition;
        @include blur();

        &:hover {
            background-color: $color-white-5;
        }

        .miniprofile_balance_title {
            font-size: 11px;
            font-weight: 600;
            letter-spacing: 0.2px;
            color: $color-inactive;
        }

        .miniprofile_balance_text {
            font-weight: bold;
            font-size: 15px;
            color: $color-primary;
        }

        div {
            line-height: 1;
        }
    }

    .miniprofile_header,
    .miniprofile_actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        gap: 5px;
    }

    .miniprofile_body {
        border-radius: ($border-radius / 2);
        padding: 5px;
        display: block;
        background-color: $color-white-3;
        @include blur();
        margin-top: 10px;
    }

    .miniprofile_langs_container {
        display: flex;
        flex-direction: column;
        gap: 5px;

        >a {
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 15px 20px;
            margin: 0;
            transition: .3s;
            color: $color-text;
            opacity: .4;
            border-radius: ($border-radius / 2);

            &:hover,
            &.active {
                opacity: 1;
                background-color: $color-white-10;
            }

            &.active {
                background-color: $color-white-10;
                box-shadow: inset 0px 0px 0px 1px $color-primary;

                p {
                    color: $color-primary;
                }
            }

            img {
                width: 25px;
                height: 25px;
                object-fit: cover;
                border-radius: 100%;
            }

            p {
                font-size: 14px;
                font-weight: 500;
                margin: 0;
                line-height: normal;
            }
        }
    }

    .miniprofile_buttons {
        display: flex;
        flex-direction: column;
        gap: 0;

        a {
            margin: 0;
            font-size: 14px;
            letter-spacing: 0.1px;
            padding: 10px;
            display: flex;
            gap: 8px;
            flex-direction: row;
            align-items: center;
            transition: .3s;
            color: $color-text;

            &:hover,
            &:focus {
                color: $color-primary;
            }

            i {
                width: 15px;
                text-align: left;
            }

            p {
                margin: 0;
                font-size: 12px;
            }
        }
    }

    &.opened {
        opacity: 1;
        top: calc(100% + 10px);
        visibility: visible;
    }
}


.navbar_right_controls {
    &.controls_not_auth {
        margin-right: 0 !important;
    }

    list-style-type: none;

    li {

        &:nth-last-child(2) {
            border-right: 1px solid $color-white-3;
            padding-right: 15px;
        }

        &:nth-last-child(1) {
            >a {
                padding: 0;
            }
        }
    }

    li>a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color);
        border-radius: 0;
        padding: 5px;
        font-size: 23px;
        cursor: pointer;
        position: relative;
        transition: .3s;
    }

    #openMiniProfile {
        display: flex;
        justify-content: space-between;
        gap: 15px;

        >i {
            transition: $transition;

            &.opened {
                color: $color-primary;
                transform: rotate(-180deg);
            }
        }

        img {
            width: 50px;
            object-fit: cover;
            height: 50px;
            border-radius: 50%;
        }
    }
}

.notifications_counter {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 10px;
    border-radius: 50%;
    background-color: $color-error;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #fff;
}

.notifications_container {
    width: 400px;
    @include blur(15px);
    background: $color-modal-bg;
    border: 1px solid $color-white-3;
    padding-bottom: 20px;
    top: calc(100% + 15px);
    right: 0px;
    z-index: 100;
    border-radius: $border-radius;
    overflow: hidden;
    position: absolute !important;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    user-select: none;
    padding: 0;

    .notifications_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $color-white-3;
        margin: 15px 20px;
        padding-bottom: 10px;

        .notifications_header_title {
            color: $color-inactive;
            font-weight: 600;
        }

        .notifications_header_clear {
            button {
                font-size: 12px;
                background-color: $color-error-light;
                color: $color-error;
                padding: 5px 15px;
                font-weight: 600;
                letter-spacing: 0.3px;
                border: 0;
                border-radius: $border-radius;
                transition: $transition;

                &:hover {
                    background-color: $color-error;
                    color: $color-text;
                }
            }
        }
    }

    .notifications_body {
        padding-right: 10px;
        max-height: 300px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10px;

        >i {
            margin: 25px 0;
            font-size: 30px;
            color: #ffffff31;
            text-align: center;
        }
    }

    .notifications_items {
        flex: 1;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        span {
            display: block;
            text-align: center;
            font-size: 13px;
            margin-bottom: 10px;
            color: $color-inactive;
            font-weight: 500;
            letter-spacing: 0.1px;
        }

        .notifications_date_flex {
            display: flex;
            gap: 10px;
            flex-direction: column;
        }

        .notifications_item {
            &.with_link {
                .notifications_item_flex {
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                }
            }

            .notifications_item_flex {
                display: flex;
                align-items: flex-start;
                gap: 15px;
                padding: 15px;
                background-color: $color-white-3;
                border-radius: ($border-radius / 2);

                i {
                    color: $color-primary;
                    font-size: 17px;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    background-color: $color-primary-light;
                }

                .notifications_item_content {
                    flex: 1;

                    .notification_title {
                        font-size: 17px;
                        letter-spacing: 0.1px;
                        color: $color-text;
                        font-weight: 500;
                    }

                    .notification_text {
                        font-size: 14px;
                        letter-spacing: 0.1px;
                        font-weight: 500;
                        color: $color-text;
                        opacity: .5;
                    }
                }
            }
        }

        .notifications_item_link {
            text-align: center;
            width: 100%;
            margin: 0;
            border-bottom-right-radius: ($border-radius / 2);
            border-bottom-left-radius: ($border-radius / 2);
            background: $color-primary-light;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            color: $color-primary;
            font-size: 14px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 10px;
            transition: $transition;

            i {
                margin-top: 2px;
                transition: transform .5s;
                transform: rotate(-45deg);
            }

            &:hover {
                background: $color-primary;
                color: $color-text-inverse;

                i {
                    transform: rotate(0deg);
                }
            }
        }
    }

    &.opened {
        opacity: 1;
        top: calc(100% + 20px);
        visibility: visible;
    }
}

#editMode {
    display: flex;
    align-items: center;

    input {
        display: none;
    }

    input:checked~span {
        background: $color-secondary;
    }

    input:checked~span:after {
        left: 27px;
        background: $color-text;
    }

    input:checked~span:active::after {
        left: 18px;
        background: $color-text;
    }

    input:not(:checked)~span:active {
        background: $color-white-5;
    }

    .toggle_background {
        display: flex;
        align-items: center;
        width: 58px;
        height: 32px;
        position: relative;
        cursor: pointer;
        background: $color-white-3;
        border-radius: 2em;
        border: 2px transparent solid;
        transition: $transition;
    }

    .toggle_background::after {
        content: "";
        display: flex;
        position: absolute;
        width: 24px;
        height: 24px;
        left: 2px;
        top: 2px;
        border-radius: 50px;
        background: $color-inactive;
        transition: $transition;
    }

    span:active:after {
        width: 60%;
    }

    .circle-icon {
        position: absolute;
        right: 15%;
        border: solid 2px $color-inactive;
        border-radius: 50%;
        width: 8px;
        height: 8px;
    }

    .vertical_line {
        position: absolute;
        left: 25%;
        background: rgb(241, 241, 241);
        width: 3px;
        height: 8px;
        border-radius: 50px;
    }
}

.navbar_mobile {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 90;
    padding: 100px 16px 16px;
    background: $color-modal-bg;
    display: none;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    @include blur();

    .navbar_mobile_icons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;

        li {
            list-style: none;
            gap: 5px;
            display: flex;
            flex-direction: column;

            a {
                background: $color-white-5;
                border-radius: 8px;
                padding: 16px;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                width: 100%;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                margin: 0;
                color: $color-text;

                &.profile_in_navbar_mobile {

                    img {
                        height: 48px;
                        width: 48px;
                        border-radius: 7px;
                        margin-right: 12px;
                        object-fit: cover;
                    }

                    h2 {
                        margin-bottom: 4px;
                        font-weight: 500;
                        font-size: 18px;
                        white-space: nowrap;
                        max-width: 170px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    p {
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 16px;
                        color: $color-text;
                        opacity: 0.4;
                        margin: 0;
                    }
                }

                i {
                    width: 20px;
                    margin-right: 12px;
                }
            }

            .submenu {
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }
    }

    .logout {
        color: $color-error;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
    }

    .login {
        color: $color-text-inverse;
        background-color: $color-primary;
        padding: 10px;
        text-align: center;
        border-radius: $border-radius / 2;
        font-weight: 500;
    }

    &.opened {
        display: flex;
    }
}