.breadcrumb {
    display: flex;
    border-radius: 35px;
    margin: 1.5em 0;
    margin-top: .5em;
}

.breadcrumb-links {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @include media(mobile) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.breadcrumb-box {
    display: flex;
    align-items: center;
}

.breadcrumb-link {
    color: var(--primary-400);
    @include transition(all);
}

.breadcrumb-box:hover>*:not(.breadcrumb-icon) {
    color: var(--primary);
}

.breadcrumb-icon {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 1rem;
    color: var(--primary-400);

    @include media(mobile) {
        margin-right: 0.5rem;
    }
}

.breadcrumb-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: var(--primary-400);
}