.invalid__widget {
    @extend .card, .flex-center, .flex-column;

    border: 1px solid var(--error) !important;
    border-radius: var(--border1);
    padding: var(--space-lg) var(--space-md);

    &-icon {
        @extend .d-flex;

        font-size: var(--h1);
        opacity: .3;
    }

    &-title {
        color: var(--error);
        margin-top: var(--space-sm);
    }

    &-small {
        color: var(--text-300);
    }

    &-error {
        background-color: var(--transp-1);
        border-radius: var(--border05);
        font-size: var(--p-small);
        color: var(--text-100);
        padding: var(--space-xs) var(--space-sm);
        margin: var(--space-md) 0;
        margin-bottom: var(--space-lg);
        user-select: all;
    }
}