.page-no-widgets {
    @extend .flex-center, .text-center;
    padding: 1rem 0;

    .icon {
        color: var(--accent);
        font-size: var(--h1);
    }

    .description {
        @extend .text-muted;

        text-align: center;
        font-size: var(--p-small);
        margin-bottom: 2rem;
    }
}