.tooltip {
    background-color: var(--secondary);
    color: var(--text);
    position: absolute;
    z-index: 9999;
    font-size: var(--small);
    padding: .8em 1em;
    border-radius: var(--border05);
    max-width: 200px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-out,
        transform .2s ease-in-out;
    line-height: 1.2;
    opacity: 0;
    will-change: transform;
    text-align: center;
}

.tooltip.show {
    opacity: 1;
}
