// Blurred problem.

// body {
//     background: radial-gradient(circle at 80px 40px, var(--accent-950), var(--background));
// }

#main {
    flex: 1;
    opacity: 1;
    view-transition-name: main-animation;
}

#main * {
    view-transition-name: none !important;
}

@keyframes fade-main-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-main-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(20px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-20px);
    }
}

::view-transition-old(main-animation) {
    animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-main-out,
        500ms cubic-bezier(.51, .92, .24, 1.15) both slide-to-left;
}

::view-transition-new(main-animation) {
    animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-main-in,
        500ms cubic-bezier(.51, .92, .24, 1.15) both slide-from-right;
}