.flute_header {
    position: sticky;
    top: 0;
    z-index: 60;
}

.navbar {
    position: inherit;
    background-color: var(--background);
    padding: 15px 0;
    border-bottom: 1px solid var(--transp-1);
    margin-bottom: 1.5rem;
    box-shadow: var(--shadow-medium);

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-logo {
            @extend .flex-center, .gap-4;

            img {
                max-height: 40px;
            }
        }
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    &__separator {
        display: none;
        width: 1px;
        height: 26px;
        background-color: var(--transp-2);
    }

    &__items {
        @extend .flex-center;

        margin: 0 auto;

        gap: 10px;

        &-item {
            @extend .flex-row, .align-center;

            position: relative;
            font-size: var(--p-small);
            gap: 10px;
            font-weight: 500;
            border-radius: 0;
            padding: 0.25rem 0.5rem;
            height: auto;
            @include transition(all);
            line-height: 1.3;
            color: var(--text-200);
            border-radius: var(--border1);
            border: 1px solid transparent;

            p {
                font-size: inherit;
            }

            &-icon {
                font-size: var(--h5)
            }

            &-icon-dropdown {
                font-size: var(--h6);
            }

            &-content {
                @extend .flex-column;
                align-items: flex-start;
                gap: 2px;
            }

            &-description {
                font-size: calc(var(--small) * 0.9);
                color: var(--text-400);
                opacity: 0.8;
                line-height: 1.1;
                font-weight: 400;
                max-width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                @include transition(all);
            }

            &.dropdown-item {
                p {
                    @extend .flex-row, .align-center;

                    cursor: pointer;
                    gap: inherit;
                }
            }

            &.without-icon:hover:not(.dropdown-item) {
                &::before {
                    opacity: 1;
                }

                svg {
                    color: var(--accent);
                }
            }

            &:hover,
            &.active {
                background: none;
                opacity: 1;
                color: var(--accent);
                // background-color: var(--transp-05);

                .navbar__items-item-description {
                    opacity: 1;
                    color: var(--text-300);
                }
            }

            &:hover {
                color: var(--text);
            }

            &.active {
                opacity: 1;

                >svg {
                    color: var(--accent);
                }

                .navbar__items-item-description {
                    opacity: 1;
                    color: var(--text-300);
                }
            }
        }
    }

    // Some DF DI FL and my cock is much bigger the yours...
    &__actions {
        @extend .flex-center;

        flex-direction: row;
        gap: 5px;

        li {
            display: flex;
            line-height: inherit;
            margin: 0;
            list-style: none;
        }

        &.login {
            gap: 15px;
            padding: 0;
        }

        &-login {
            font-size: var(--p-small);
        }
    }

    // Nav images
    &__lang,
    &__profile {
        border-radius: 30px;
        overflow: hidden;

        img,
        svg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__lang,
    &__notifications,
    &__profile,
    &__theme-switcher>button {
        @extend .icon-hover;
    }

    &__logo {
        min-width: 40px;
        max-width: 130px;

        img {
            max-height: 50px;
            height: 100%;
        }
    }

    &__notifications {
        position: relative;

        svg {
            width: 1.5em;
            height: 1.5em;
            color: var(--text-300);
            @include transition(all);
        }

        &-indicator {
            position: absolute;
            top: 2px;
            right: 2px;
            width: 8px;
            height: 8px;
            background-color: rgb(248, 86, 86);
            border-radius: 50%;
            display: none;
        }

        &:hover {
            svg {
                color: var(--text);
            }
        }
    }

    &__socials {
        @extend .flex-center;
        gap: 15px;
        margin: 0 5px;

        a {
            @extend .flex-center;
            font-size: var(--h4);
            color: var(--text-500);

            &:hover {
                color: var(--text);
            }
        }
    }

    // dropdown

    &__dropdown[data-dropdown] {
        a {
            font-size: var(--p-small);
            padding-left: 10px;

            svg {
                font-size: var(--h5);
            }

            &:hover {
                color: var(--accent);

                .navbar__dropdown-item-description {
                    opacity: 1;
                    color: var(--text-300);
                }
            }
        }

        .navbar__dropdown-item-content {
            @extend .flex-column;

            line-height: 1.6;

            small {
                line-height: inherit;
                font-size: calc(var(--small) * 0.9);
                color: var(--text-400);
                opacity: 0.7;
                font-weight: 500;
                @include transition(all);
            }
        }
    }

    // Profile

    &__profile {
        margin: 0 5px;
    }


    // Langs

    &__lang,
    &__langs {
        span {
            @extend .flex-center;

            display: inline-flex;
            width: 26px;
            height: 20px;
            flex-shrink: 0;
            overflow: hidden;
            border-radius: 5px;
            -webkit-box-align: center;
            -webkit-box-pack: center;
        }

        img {
            width: 100%;
            height: 100%;
            max-width: unset;
            object-fit: cover;
            vertical-align: middle;
        }
    }

    &__langs {
        >a {
            opacity: .8 !important;
            transition: 0.3s ease;

            &:hover {
                opacity: 1 !important;
                background-color: var(--transp-1);
            }
        }
    }

    &__theme-switcher {
        button {
            @extend .d-flex;

            color: var(--text-300);
            font-size: var(--h4);
        }

        &:hover {
            color: var(--text);
        }

        @include media(mobile) {
            display: none !important;
        }
    }
}

.tabbar__modal {
    &-item {
        line-height: 1.5;

        &-content {
            @extend .flex-column;
            align-items: flex-start;
            gap: 2px;
        }

        &-description {
            font-size: calc(var(--small) * 0.9);
            color: var(--text-400);
            opacity: 0.8;
            line-height: inherit;
            font-weight: 300;
            @include transition(all);
        }
    }
}

html[data-theme="light"] {
    .navbar__logo-light {
        display: block;
    }

    .navbar__logo-dark {
        display: none;
    }
}

html[data-theme="dark"] {
    .navbar__logo-light {
        display: none;
    }

    .navbar__logo-dark {
        display: block;
    }
}