.payment {
    &__image {
        height: 50px;
        padding: 5px;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__copy-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        width: 20px;
        height: 20px;

        &:hover {
            color: var(--accent);
        }
    }
}