.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    &-right,
    &-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
}

.navbar-logo {
    display: flex;
    align-items: center;
    width: 330px;
    justify-content: space-between;

    .tag {
        position: relative;
        font-size: 12px;
        color: $color-text-inverse;
        background-color: $color-secondary;
        padding: 5px 10px;
        font-weight: 500;
        border-radius: 6px;
    }

    .return-btn {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 1px solid $color-white-20;
        color: $color-text;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: $transition;

        >i {
            transition: transform $transition;
        }
    }

    h2 {
        font-weight: 500;
    }

    img {
        margin-left: 10px;
        height: 25px;
        align-items: center;
    }

    >a {
        align-items: center;
        gap: 10px;
        display: flex;
        color: $color-text;

        &:hover {
            .return-btn {
                color: $color-primary;
                background-color: $color-primary-light;

                >i {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}


.header_search {
    flex: 1;
    width: 500px;
    position: relative;

    #searchBg {
        z-index: 20;
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000b2;
        top: 0;
        visibility: hidden;
        opacity: 0;
        transition: $transition;

        &.show {
            opacity: 1;
            visibility: visible;
        }
    }

    #searchResults {
        z-index: 21;
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: $color-card;
        width: 100%;
        opacity: 0;
        transition: .3s;
        transform: translateY(0px);
        visibility: hidden;
        border-radius: 12px;
        padding: 10px;
        max-height: 450px;
        overflow: auto;

        &.show {
            transform: translateY(10px);
            opacity: 1;
            visibility: visible;

            &:focus {
                box-shadow: inset 1px 1px 1px #fff;
            }
        }

        >a {
            padding: 10px 15px;
            color: $color-text;
            border-radius: 6px;
            transition: .3s;
            opacity: .6;
            color: $color-text;

            b {
                color: $color-primary;
            }

            &:hover {
                background-color: $color-white-5;
                opacity: 1;
            }

            &.highlight {
                box-shadow: inset 0px 0px 0px 2px $color-primary;
            }

            >p {
                font-size: 12px;
                opacity: .5;
                font-weight: 400;
            }
        }
    }

    .input {
        z-index: 21;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        background-color: $color-disabled;
        border-radius: 12px;
        gap: 10px;
        width: 100%;
        max-width: 500px;
        border: 1px solid $color-white-5;

        >i {
            color: $color-white-20;
        }

        input {
            transition: $transition;
            width: 100%;
            font-size: 14px;
            color: $color-text;

            &::placeholder {
                color: $color-white-20;
            }
        }
    }

    .kbd-items {
        display: flex;
        gap: 5px;
        flex-direction: row;
        align-items: center;
    }

    kbd {
        background-color: $color-white-10;
        border-radius: 3px;
        border: 1px solid $color-white-20;
        color: $color-text;
        display: inline-block;
        font-size: 0.75em;
        font-weight: 600;
        letter-spacing: 0.4px;
        padding: 0px 4px;
        white-space: nowrap;
    }
}

.header_version {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
    border-right: 1px solid $color-white-5;

    .version {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        border: 1px solid $color-primary-light;
        padding: 5px 15px;
        height: 43px;
        font-size: 15px;
        gap: 15px;

        >.update-btn {
            display: flex;
            align-items: center;
            color: $color-primary;
            cursor: pointer;

            i {
                transition: .3s;
            }

            &:hover {
                i {
                    transform: rotate(15deg);
                }
            }
        }

        >p {
            font-weight: 500;
        }
    }
}

.header_log {
    cursor: pointer;
    width: 35px;
    height: 35px;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    border: 1px solid $color-primary-light;
    overflow: hidden;

    &:hover {
        background-color: $color-primary;
        color: $color-text-inverse;
    }
}

.header-contact {
    display: flex;
    flex-direction: row;
    gap: 7px;
    border-left: 1px solid $color-white-5;
    padding-left: 20px;
    height: 43px;
    align-items: center;

    a {
        cursor: pointer;
        width: 35px;
        height: 35px;
        font-size: 18px;
        border-radius: 50%;
        color: darken($color-text, 30);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;

        &:first-child {
            background-color: #7289da;

            svg {
                width: 18px;
                height: 18px;
                fill: $color-text;
                transition: .3s;
            }
        }

        &:nth-child(2) {
            background-color: $color-white-5;
            color: darken($color-text, 30);
        }

        &:last-child {
            background-color: $color-white-10;
            color: $color-text;
        }

        &:hover {
            transform: translateY(-1px);
            color: $color-text;
        }
    }
}

.icon-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 1px solid $color-secondary-light;
    padding: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: width 0.3s ease;
    position: relative;
    width: 35px;
    height: 35px;
    font-size: 18px;
    border-radius: 25px;
    color: $color-secondary !important;
}

.icon-container i {
    transition: transform 0.3s ease;
    height: auto;
    margin-right: 2px;
}

.icon-container .icon-text {
    position: absolute;
    right: 100%;
    white-space: nowrap;
    opacity: 0;
    padding-left: 15px;
    transition: opacity 0.2s ease 0.2s, right 0.3s ease;
    font-size: 14px;
}

.icon-container:hover .icon-text {
    opacity: 1;
    left: 0;
}

.gradient-text {
    --bg-size: 400%;
    --color-one: #baff68;
    --color-two: #AD68FF;
    font-size: 15px;
    background: linear-gradient(90deg,
            var(--color-one),
            var(--color-two),
            var(--color-one)) 0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;

    i {
        font-size: 18px;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .gradient-text {
        animation: move-bg 8s linear infinite;
    }

    @keyframes move-bg {
        to {
            background-position: var(--bg-size) 0;
        }
    }
}