.sidebar {
    position: fixed;
    height: 100%;
    width: 350px;
    z-index: 2;
    border: 1px solid $color-white-5;
    background:
        radial-gradient(farthest-side at top left,
            #bbff6807,
            transparent 200px),
        radial-gradient(farthest-corner at bottom right,
            #ac68ff09,
            transparent 330px);
    background-color: #0D0D0D;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 105px);
    bottom: 15px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: transparent;

    ::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    ::-webkit-scrollbar-track {
        display: none;
    }

    .flex-menu {
        height: 100%;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: space-between;
    }

    &:hover {
        ::-webkit-scrollbar-thumb {
            background-color: $color-primary-light;

            &:hover {
                background-color: #baff6882;
            }
        }
    }

    &-menu {
        display: flex;
        flex-direction: column;
        overflow: auto;
        border-bottom: 1px solid $color-white-5;
        height: 100%;
        gap: 15px;

        .title {
            font-size: 12px;
            color: $color-text;
            opacity: .4;
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 15px;
            margin-bottom: 10px;
            padding-left: 20px;
            // font-family: $font-secondary;
            letter-spacing: 0.3px;
            font-weight: 400;

            >i {
                font-size: 16px;
            }

            >p {
                font-size: 12px;
            }
        }

        .menu-section {
            .items {
                display: flex;
                flex-direction: column;

                >button {
                    color: $color-text;
                    border-radius: 12px;
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    width: 100%;
                    cursor: default;

                    .head-button {
                        cursor: pointer;
                        flex: 1;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 17px 20px;
                        color: darken($color-text, 40);
                        transition: none;

                        &:hover {
                            color: $color-text;
                            background-color: $color-white-3;
                        }

                        i {
                            transition: transform $transition;
                        }

                        .name-icon {
                            display: flex;
                            align-items: center;
                            gap: 15px;

                            i {
                                font-size: 16px;
                                color: #bceb8275;
                                transition: transform $transition;
                            }

                            p {
                                font-size: 14px;
                                line-height: 1;
                            }
                        }
                    }

                    .btn-add-menu {
                        display: flex;
                        align-items: baseline;
                        flex-direction: column;
                        margin-top: 10px;
                        padding-left: 24px;
                        border-left: 1px solid $color-white-5;
                        margin-left: 26px; // Я дебил???
                        gap: 10px;
                        visibility: hidden;
                        opacity: 0;
                        transition: $transition;
                        display: none;
                        margin-bottom: 10px;
                        width: -webkit-fill-available;

                        a {
                            font-size: 14px;
                            color: $color-gray;
                            transition: $transition;
                            font-weight: 500;
                            position: relative;
                            width: 100%;
                            text-align: left;
                            padding: 5px;

                            &:hover {
                                color: $color-text;
                            }

                            &.active {
                                color: $color-primary;

                                &::after {
                                    position: absolute;
                                    display: block;
                                    opacity: 1;
                                    visibility: visible;
                                    width: 1px;
                                    height: 100%;
                                    top: 0;
                                    left: -25px;
                                    content: "";
                                    background-color: #BAFF68;
                                    transition: 0.3s;
                                }
                            }
                        }
                    }

                    &.opened {
                        .head-button {
                            color: $color-primary;
                            background-color: $color-white-5;

                            >i {
                                transform: rotate(180deg);
                            }

                            i {
                                color: inherit;
                            }
                        }

                        .btn-add-menu {
                            visibility: visible;
                            opacity: 1;
                            display: flex;
                        }
                    }

                    &.active {
                        .head-button {
                            color: $color-primary;
                            background-color: $color-primary-light;
                            // background-image: linear-gradient(to left top, #222a1900, #2f3f1d82, #3c55207a, #496b2273, #57832242);

                            i {
                                color: inherit;
                            }
                        }
                    }
                }
            }
        }
    }
}

.items-additional {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex: 1;
    width: 100%;
    transition: none;
    text-align: left;
    margin-top: 5px;

    >a {
        font-weight: 500;
        color: darken($color-text, 40);
        padding: 12px 20px;
        font-size: 14px;

        &:hover {
            color: $color-text;
            background-color: $color-white-5;
        }
    }
}