.api_keys_table table td:nth-child(2) {
    color: transparent;
    text-shadow: 0 0 10px rgb(255 255 255);

    >div {
        display: block;
    }

    &:hover {
        transition: 0.4s;
        color: inherit;
        text-shadow: none;
    }
}