.sortable-buttons {
    display: flex;
    gap: 5px;

    >div,
    a {
        padding: 10px;
        width: 30px;
        height: 30px;
        border: 1px solid $color-white-5;
        color: $color-text;
        display: flex;
        border-radius: $border-radius;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: $transition;

        &.delete {
            border: 1px solid #f1494929;
            color: $color-error;

            &:hover {
                border: 1px solid $color-error;
                background-color: #f1494929;
            }
        }

        &.change {
            border: 1px solid #ffc04630;
            color: $color-warning;

            &:hover {
                border: 1px solid $color-warning;
                background-color: #ffc04630;
            }
        }
    }
}

.footer-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sortable-item {
    &.ghost {
        opacity: .5;
    }
}

.card-sortable {
    padding: 20px 25px;
    border-radius: 6px;
    border: 1px solid $color-white-5;
    background-color: $color-white-3;
    font-size: 14px;

    .sortable-handle {
        font-size: 20px;
        cursor: grab;
    }

    .badge {
        font-weight: 500;
        padding: 5px 10px;
        border-radius: 50px;
        color: $color-text-inverse;
        background-color: $color-primary;
    }
}

.sortable-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.roles_empty {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: $color-gray;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .form-checkbox {
        label {
            font-size: 16px !important;
            display: inline-flex !important;
            flex-direction: column;

            small {
                font-size: 12px;
                color: $color-gray;
                font-weight: 500;
            }
        }
    }
}

.item-icon {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: $color-primary-light;
    font-size: 16px;
    color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-white-5;
}

.footer-group .list-group {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
        &:first-child {
            margin-top: 10px;
        }
    }
}

.icon-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg {
        width: 20px;
        height: 20px;
        fill: $color-text;
    }
}

.social-action-buttons {
    display: flex;
    gap: 5px;

    >div,
    a {
        padding: 10px;
        width: 30px;
        height: 30px;
        border: 1px solid $color-white-5;
        color: $color-text;
        display: flex;
        border-radius: $border-radius;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: $transition;

        &.delete {
            border: 1px solid #f1494929;
            color: $color-error;

            &:hover {
                border: 1px solid $color-error;
                background-color: #f1494929;
            }
        }

        &.activate {
            border: 1px solid #65ff7e29;
            color: $color-success;

            &:hover {
                border: 1px solid $color-success;
                background-color: #65ff7e29;
            }
        }

        &.disable {
            border: 1px solid #ffc04630;
            color: $color-warning;

            &:hover {
                border: 1px solid $color-warning;
                background-color: #ffc04630;
            }
        }

        &.change {
            border: 1px solid #ffc04630;
            color: $color-warning;

            &:hover {
                border: 1px solid $color-warning;
                background-color: #ffc04630;
            }
        }
    }
}