.table-status.notinstalled {
    background-color: $color-error;
    color: $color-text-inverse;
}

.module-action-buttons {
    display: flex;
    gap: 5px;

    >div:not(.action-button-update) {
        padding: 10px;
        width: 31px;
        height: 31px;
        border: 1px solid $color-white-5;
        color: $color-text;
        display: flex;
        border-radius: $border-radius;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: $transition;

        &.delete {
            border: 1px solid #f1494929;
            color: $color-error;

            &:hover {
                border: 1px solid $color-error;
                background-color: #f1494929;
            }
        }

        &.install,
        &.activate {
            border: 1px solid #65ff7e29;
            color: $color-success;

            &:hover {
                border: 1px solid $color-success;
                background-color: #65ff7e29;
            }
        }

        &.disable {
            border: 1px solid #ffc04630;
            color: $color-warning;

            &:hover {
                border: 1px solid $color-warning;
                background-color: #ffc04630;
            }
        }

        &.settings {
            color: $color-gray;

            &:hover {
                border: 1px solid $color-text;
                background-color: $color-white-10;
                color: $color-text;
            }
        }

        &.update {}
    }
}

@property --angle-update {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.action-button-update {
    position: relative;
    background: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: $transition;

    >div {
        padding: 10px;
        width: 31px;
        height: 31px;
        border: 1px solid $color-white-5;
        color: $color-text-inverse;
        display: flex;
        border-radius: $border-radius;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: $transition;
        border-radius: 50%;
    }

    &::before,
    &::after {
        opacity: 0;
        content: "";
        position: absolute;
        inset: -0.12rem;
        z-index: -1;
        background: linear-gradient(var(--angle-update),
                $color-primary, $color-text, $color-secondary);
        animation: rotateModuleUpdate 10s linear infinite;
        border-radius: 50%;
        transition: .3s;
    }

    &::after {
        filter: blur(3px);
    }

    &:hover {
        background-color: $color-card;

        &::before {
            opacity: 1;
        }

        >div {
            color: $color-primary;
        }
    }
}

@keyframes rotateModuleUpdate {
    0% {
        --angle-update: 0deg;
    }

    100% {
        --angle-update: 360deg;
    }
}

.service-provider {
    display: flex;
    gap: 5px;
    max-height: 200px;
    overflow: auto;
    flex-direction: column;
    align-items: flex-start;
}

.sp-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid $color-white-5;
    padding: 10px;
    border-radius: 6px;
    width: 100%;

    input.has-error {
        border: 1px solid $color-error;
    }

    .sp-prefix {
        font-size: 14px;
        color: $color-gray;
        font-weight: 500;
    }

    >div {
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
    }

    >i {
        cursor: pointer;
        color: $color-error;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
    }
}

.upload-container {
    .upload-area {
        border: 2px dashed $color-white-20;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: 500;

        &:hover,
        &.drag-over {
            background-color: $color-disabled;
        }
    }
}

.error-container {
    color: $color-error;
    font-weight: 500;

    div {
        margin-bottom: 5px;
    }
}

.info-container {
    p {
        margin: 5px 0;
    }

    .btn {
        margin-top: 10px;
    }
}