.icon-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg {
        width: 20px;
        height: 20px;
        fill: $color-text;
    }

    i {
        font-size: 20px;
    }
}

.social-action-buttons {
    display: flex;
    gap: 5px;

    >div,
    a {
        padding: 10px;
        width: 31px;
        height: 31px;
        border: 1px solid $color-white-5;
        color: $color-text;
        display: flex;
        border-radius: $border-radius;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: $transition;

        &.delete {
            border: 1px solid #f1494929;
            color: $color-error;

            &:hover {
                border: 1px solid $color-error;
                background-color: #f1494929;
            }
        }

        &.activate {
            border: 1px solid #65ff7e29;
            color: $color-success;

            &:hover {
                border: 1px solid $color-success;
                background-color: #65ff7e29;
            }
        }

        &.disable {
            border: 1px solid #ffc04630;
            color: $color-warning;

            &:hover {
                border: 1px solid $color-warning;
                background-color: #ffc04630;
            }
        }

        &.change {
            border: 1px solid #ffc04630;
            color: $color-warning;

            &:hover {
                border: 1px solid $color-warning;
                background-color: #ffc04630;
            }
        }
    }
}

#editorSocial {
    min-height: 200px;
    min-width: 100%;
    background-color: transparent;
    border: 1px solid $color-white-5;
    border-radius: 5px;
}