.theme-action-buttons {
    display: flex;
    gap: 5px;

    >div,
    a {
        padding: 10px;
        width: 31px;
        height: 31px;
        border: 1px solid $color-white-5;
        color: $color-text;
        display: flex;
        border-radius: $border-radius;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: $transition;

        &.delete {
            border: 1px solid #f1494929;
            color: $color-error;

            &:hover {
                border: 1px solid $color-error;
                background-color: #f1494929;
            }
        }

        &.install,
        &.activate {
            border: 1px solid #65ff7e29;
            color: $color-success;

            &:hover {
                border: 1px solid $color-success;
                background-color: #65ff7e29;
            }
        }

        &.disable {
            border: 1px solid #ffc04630;
            color: $color-warning;

            &:hover {
                border: 1px solid $color-warning;
                background-color: #ffc04630;
            }
        }

        &.settings {
            color: $color-gray;

            &:hover {
                border: 1px solid $color-text;
                background-color: $color-white-10;
                color: $color-text;
            }
        }

        &.edit {
            color: $color-warning;
            border: 1px solid rgba($color-warning, .1);

            &:hover {
                border: 1px solid $color-warning;
                background-color: rgba($color-warning, .9);
                color: $color-text-inverse;
            }
        }
    }
}

.service-provider {
    display: flex;
    gap: 5px;
    max-height: 200px;
    overflow: auto;
    flex-direction: column;
    align-items: flex-start;
}

.sp-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 1px solid $color-white-5;
    padding: 10px;
    border-radius: 6px;
    width: 100%;

    input.has-error {
        border: 1px solid $color-error;
    }

    .sp-prefix {
        font-size: 14px;
        color: $color-gray;
        font-weight: 500;
    }

    >div {
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 13px;
    }

    >i {
        cursor: pointer;
        color: $color-error;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
    }
}

.upload-container {
    .upload-area {
        border: 2px dashed $color-white-20;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-weight: 500;

        &:hover,
        &.drag-over {
            background-color: $color-disabled;
        }
    }
}

.error-container {
    color: $color-error;
    font-weight: 500;

    div {
        margin-bottom: 5px;
    }
}

.info-container {
    p {
        margin: 5px 0;
        font-size: 16px;
        font-weight: 500;
        color: $color-primary;
    }

    .btn {
        margin-top: 10px;
    }
}

.theme-editor {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .theme-preview {
        flex: 1;
        padding: 20px;
        background-color: var(--color-bg);
        color: var(--color-text);
        font-family: var(--font-primary);
        line-height: var(--font-line-height);
        border-radius: 6px;

        .preview-content {
            // position: sticky;
            // top: 20px;
            padding: var(--spacing-lg);

            .nav-block,
            .footer-block {
                margin-bottom: var(--spacing-md);
                border-radius: calc(var(--border-radius) * 2);
                height: 70px;
                background-color: var(--color-disabled);
                padding: 5px;
                box-shadow: 0px 2px 20px 0px var(--color-card);
            }

            .test-card {
                background-color: var(--color-card);
                border-radius: var(--border-radius);
                padding: 20px 25px;
                transition: var(--transition);

                h2 {
                    font-size: var(--font-size-large);
                }

                p {
                    font-size: var(--font-size-base);
                }

                &-content {
                    padding: 10px 15px;
                    border-radius: calc(var(--border-radius) / 2);
                    background-color: var(--color-primary);
                    margin-top: 20px;

                    p {
                        font-weight: 500;
                        font-size: 14px;
                        color: var(--color-text-inverse);
                    }
                }

                &-buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 30px;
                    flex-wrap: wrap;
                    gap: 10px;

                    .card-button {
                        border-radius: 54px;
                        transition: var(--transition);
                        border: none;
                        font-weight: 500;
                        cursor: pointer;
                        outline: none;
                        text-decoration: none;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        background-color: var(--color-inactive);
                        color: var(--color-text);
                        padding: 10px 20px;
                        font-size: 15px;

                        &.secondary {
                            background-color: var(--color-secondary);
                            color: var(--color-text);

                            &:hover {
                                background-color: var(--color-secondary-light);
                            }
                        }

                        &:not(.secondary) {
                            background-color: var(--color-primary);
                            color: var(--color-text-inverse);

                            &:active {
                                background-color: var(--color-disabled);
                                color: var(--color-primary);
                            }
                        }
                    }
                }
            }
        }

        .not-active {
            h2 {
                font-size: var(--font-size-large);
                margin-bottom: var(--spacing-md);
            }

            .not-active-el {
                p {
                    font-size: var(--font-size-base);

                    &.disabled-el {
                        color: var(--color-disabled);
                    }
                }
            }
        }

        .footer-block {
            margin-top: 30px !important;
            border-radius: var(--border-radius) !important;
            height: 200px !important;
        }
    }

    .theme-controls {
        flex: 0 0 400px;
        background-color: var(--color-card);
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-control {
            width: 100%;
            font-size: 14px;
            color: $color-inactive;
            font-weight: 500;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 20px 15px;
            border-radius: 6px;
            border: 1px solid $color-white-5;

            label {
                display: block;
                margin-bottom: 5px;
            }

            input[type="color"],
            input[type="range"] {
                width: 100%;
                margin-bottom: 20px;
            }

            .pickr {
                box-shadow: 0px 0px 20px -9px #fff;
            }
        }
    }
}

:root {
    --deg: 5deg;
    --trackball: var(--base);
    --range: 0%;
    --bg: #10252f;
}

.range-control {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    input[type="range"] {
        -webkit-appearance: none;
        position: relative;
        width: 100%;
        margin-top: 40px;

        &:focus {
            outline: none;
        }

        &:before {
            position: absolute;
            content: "";
            width: var(--range);
            height: 6px;
            background: $color-primary-light;
        }
    }

    input[type="range"]::-webkit-slider-runnable-track {
        background: $color-disabled;
        height: 6px;
    }

    input[type="range"]::-webkit-slider-thumb {
        width: 13px;
        height: 13px;
        border-radius: 100%;
        border: none;
        -webkit-appearance: none;
        background-color: $color-primary;
        margin-top: -4px;
        z-index: 99;
        position: relative;
        transition: 0.5s all ease;
    }

    >span {
        position: absolute;
        left: var(--range);
        top: 41%;
        font-size: 14px;
        color: $color-primary;
        transition: 0.5s color ease;
        margin-left: -15px;
    }
}

.flashes {
    margin-top: 20px;

    .alert {
        padding: 15px 20px;
        margin-bottom: 15px;
        border-radius: calc(var(--border-radius) / 2);
        display: flex;
        align-items: center;
        font-size: 14px;

        svg.icon {
            margin-right: 10px;
            font-size: 16px;
        }

        &-success {
            color: var(--color-text-inverse);
            background-color: var(--color-success);
            box-shadow: 0px 0px 20px -10px var(--color-success);
        }

        &-danger,
        &-error {
            color: var(--color-text-inverse);
            background-color: var(--color-error);
            box-shadow: 0px 0px 20px -10px var(--color-error);
        }

        &-warning {
            color: var(--color-text-inverse);
            background-color: var(--color-warning);
            box-shadow: 0px 0px 20px -10px var(--color-warning);
        }

        &-info {
            color: var(--color-text-inverse);
            background-color: var(--color-secondary);
            box-shadow: 0px 0px 20px -10px var(--color-secondary);
            // background-color: $color-info;
        }

        a {
            color: inherit;
            font-weight: 500;
            margin-left: 10px;
            text-decoration: underline;
        }
    }
}