.translations {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    flex-direction: row;

    a {
        flex: 1;
        border: 1px solid $color-white-5;
        border-radius: ($border-radius / 2);
        padding: 15px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        opacity: .6;
        transition: $transition;
        cursor: pointer;

        img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 50%;
        }

        p {
            font-size: 14px;
            color: $color-text;
            transition: $transition;
        }

        &:hover {
            opacity: 1;
            background-color: $color-white-5;
        }

        &.active {
            opacity: 1;
            background-color: $color-primary-light;
            
            p {
                color: $color-primary;
            }
        }
    }
}

.parametersContainer {
    margin-top: 20px;
    margin-bottom: 5px;
    max-height: 500px;
    overflow: auto;

    .param-group {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        input {
            margin-right: 10px;
            flex-grow: 1;
        }
    }
}