@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.bg-update {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(farthest-side at bottom left, #bbff680f, transparent), radial-gradient(farthest-corner at bottom right, #ad68ff0a, transparent 700px);
}

.update-container {
    z-index: 1;
    position: relative;
    min-height: calc(100vh - 400px);

    &.no-need {
        min-height: auto;
    }

    .update-max {
        margin: 0 auto;
        max-width: 500px;
    }

    &-title {
        font-size: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        font-weight: 700;
        margin: 50px 0;
    }

    &-tags {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        align-items: center;

        >i {
            // animation: arrowUpdateAnimation 1s infinite alternate;
            font-size: 20px;
        }

        &-tag {
            padding: 10px 20px;
            font-size: 20px;
            font-weight: 600;
            color: $color-inactive;
            border: 2px solid $color-white-10;
            border-radius: 12px;

            &.new-tag {
                color: $color-text;
                position: relative;
                background: $color-card;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    inset: -0.2rem;
                    z-index: -1;
                    background: linear-gradient(var(--angle),
                            $color-primary, $color-text, $color-secondary);
                    animation: rotate 10s linear infinite;
                    border-radius: 12px;
                }

                &::after {
                    filter: blur(5px);
                }
            }
        }
    }

    &-body {
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 60px;
        background-color: #00000047;
        backdrop-filter: blur(10px);
        padding: 15px 20px;
        border-radius: 6px;

        &-content {
            display: flex;
            flex-direction: column;
            gap: 10px;

            ul {
                margin-left: 20px;

                li {
                    list-style: auto;
                }
            }
        }
    }

    &-button {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        gap: 10px;
        margin-top: 30px;
        cursor: pointer;
        transition: $transition;
        font-weight: 500;
        padding: 15px 30px;
        border-radius: 54px;
        background-color: $color-primary;
        max-width: min-content;
        color: $color-text-inverse;

        >i {
            font-size: 23px;
        }
    }
}

.update-notification {
    padding-bottom: 0;
    margin: 0 auto;
    margin-bottom: 0;
    border-bottom: 0;
    padding-top: 30px;
    max-width: 600px;
}

.bg-update-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000000de;
    z-index: 100;
    transition: $transition;
    opacity: 0;
    visibility: hidden;

    &[open] {
        visibility: visible;
        opacity: 1;
    }
}

.update-modal {
    max-width: 22em;
    padding: 1.5rem;
    border-radius: $border-radius;
    border: 0;
    background-color: $color-card;
    color: $color-text;
    font-family: $font-primary;
    border: 1px solid $color-white-3;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;

    &[open] {
        animation: widgetSettingsAnimation .3s forwards;
    }

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.7);
    }

    #update_loading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-body {
        text-align: center;
        margin-top: 15px;

        p {
            font-size: 20px;
            font-weight: 600;
            color: $color-text;
        }

        small {
            font-size: 14px;
            font-weight: 500;
            color: $color-gray;
        }
    }

    .update-loader {
        position: relative;
        width: 64px;
        height: 64px;
        background: $color-white-5;
        border-radius: 50%;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            inset: 8px;
            margin: auto;
            background: $color-card;
            border-radius: 50%;
        }

        &:before {
            content: '';
            position: absolute;
            inset: 0px;
            margin: auto;
            background: $color-primary;
            animation: crlMugLoader 2s linear infinite alternate;
        }
    }
}

@keyframes crlMugLoader {

    0%,
    10% {
        transform: translateY(64px)
    }

    90%,
    100% {
        transform: translateY(0px)
    }
}

@keyframes rotate {
    0% {
        --angle: 0deg;
    }

    100% {
        --angle: 360deg;
    }
}

@keyframes arrowUpdateAnimation {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(5px);
    }
}