.unblock-user {
    padding: 5px 10px;
    border-radius: 6px;
    color: $color-success;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid $color-success;
    transition: $transition;

    &:hover {
        color: $color-text-inverse;
        background-color: $color-success;
    }
}