.card {
    @extend .blur-bg;

    background-color: var(--transp-05);

    border: 1px solid var(--transp-1);
    border-radius: var(--border1);
    box-shadow: var(--shadow-small);
    overflow: hidden;
    @include transition(box-shadow, transform);

    &-img-top {
        width: 100%;
        height: auto;
    }

    &-header {
        padding: 1.1em 1.3em;
        border-bottom: 1px solid var(--transp-1);

        .card-title {
            margin: 0;
        }

        .card-subtitle {
            margin-top: 0.25rem;
            color: var(--text-200);
        }
    }

    &-body {
        &:not(.withoutPadding) { padding: 1.1em 1.3em; }
    }

    &-footer { padding: 1.1em 1.3em 1.25em; border-top: 1px solid var(--transp-1); }
}