.form {
    &-field {
        line-height: 1.5;
    }

    &__label {
        font-size: var(--p-small);
        color: var(--text-300);
        font-weight: 500;
        line-height: 1.8;

        &-required {
            &:after {
                content: '*';
                color: var(--error);
            }
        }
    }
}