.miniprofile {
    @extend .d-flex;

    flex-direction: column;
    gap: var(--space-xl);
    width: 100%;
    height: 100%;

    &__content,
    &__main {
        @extend .d-flex;

        flex-direction: column;
        gap: var(--space-md);
        width: 100%;
        height: 100%;
    }

    &__user {
        @extend .flex-center;

        flex-direction: column;
        gap: var(--space-sm);

        &-content {
            @extend .flex-center;

            flex-direction: column;

            p {
                line-height: 1;
                color: var(--text-500);
            }
        }

        img {
            width: 90px;
            height: 90px;
            background-color: var(--transp-1);
            border-radius: 50%;
            object-fit: cover;
        }
    }

    &__content {
        &-buttons {
            @extend .d-flex;

            border-top: 1px solid var(--transp-1);
            padding-top: var(--space-sm);
            flex-direction: column;
            gap: var(--space-xs);
        }
    }

    &__button {
        @extend .align-center;

        gap: var(--space-sm);
        padding: var(--space-xs) var(--space-sm);
        @include transition(all);
        border-radius: var(--border05);
        font-size: var(--small);
        color: var(--text-300);
        font-weight: 500;

        svg {
            font-size: var(--p);
        }

        &:hover {
            color: var(--text);
            background-color: var(--transp-1);
        }
    }

    &__container {}

    &__balance {
        @extend .flex-row, .flex-between;

        width: 100%;
        flex: 1;
        margin-top: var(--space-sm);
        border: 1px solid var(--transp-2);
        padding: var(--space-xs) var(--space-md);
        border-radius: var(--border05);

        &-content {
            margin-bottom: var(--space-2xs);

            h6,
            small {
                line-height: 1.4;
            }

            small {
                color: var(--text-400);
            }
        }

        &-btn {}
    }
}