tbody,
td,
tfoot,
th,
thead,
tr {
    border: 0 solid;
    border-color: inherit;
}

.table {
    vertical-align: top;
    width: 100%;
    border-spacing: 0;

    thead {
        vertical-align: bottom;
        position: relative;
        z-index: 0;
        transform: translateZ(0);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 1rem;
            right: 1rem;
            background-color: var(--transp-05);
            border: 1px solid var(--transp-1);
            border-radius: var(--border05);
            box-shadow: var(--shadow-small);
            z-index: -1;
            pointer-events: none;
        }

        @supports (-webkit-touch-callout: none) {
            &::before {
                bottom: auto;
            }
        }

        tr {

            th {
                border-top: 0;
                color: var(--text-200);
                font-size: var(--p-small);
                font-weight: 600;
                vertical-align: baseline;
                padding: .75em 1em;
                position: relative;
                @include transition();

                .table-th {
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    flex-direction: row;
                }

                &:first-child { padding-left: 2rem; }

                &.sortable {
                    cursor: pointer;

                    &:hover {
                        color: var(--text);
                    }

                    .sort-icon {
                        display: inline-flex;
                    }
                }
            }
        }
    }

    tbody {
        vertical-align: inherit;

        &::before {
            content: '';
            height: .5rem;
            display: block;
        }

        tr {
            td {
                border-top: 0;
                font-size: var(--p-small);
                padding: 1rem;
                vertical-align: middle;

                &:first-child {
                    padding-left: 1.5rem !important;
                }
            }
        }
    }

    tbody {
        tr {
            >td {
                border-bottom: 1px solid var(--transp-1);
                padding: 8px 15px;
            }

            &:last-of-type>td {
                border-bottom: 0;
            }
        }
    }

    &__pagination {
        @extend .flex-row, .align-center, .gap-2;

        margin: 0;
        padding: 0;

        &-item {
            @extend .flex-center;

            width: 38px;
            height: 38px;
            color: var(--text-400);
            border-radius: var(--border05);
            font-weight: 500;
            font-size: var(--p-small);
            line-height: 1.4;
            border: 1px solid var(--transp-3);
            @include transition();

            button,
            span {
                @extend .flex-center;

                cursor: pointer;
                height: 100%;
                width: 100%;
                color: inherit;
                font-size: var(--p-small);

                &.link-icon {
                    font-size: var(--h5);
                }
            }

            &:not(.disabled) {
                &:hover {
                    background-color: var(--transp-2);
                    color: var(--text);
                }

                &.active {
                    color: var(--accent-900);
                    background-color: var(--accent);
                }
            }

            &.disabled {
                pointer-events: none;
                opacity: .7;
            }
        }
    }

    &__header {
        padding: .8rem 1rem;
    }

    &__footer {
        @extend .d-flex, .flex-row, .align-center, .flex-between;

        border-top: 1px solid var(--transp-1);
        padding: 1rem 1.2rem;
        padding-left: 1rem;
        background-color: var(--transp-05);

        @include media(mobile) {
            @extend .gap-3;

            flex-direction: column;
            padding-left: 1rem;
        }

        &-per-page {
            select {
                padding: .3em 1em;
                text-align: center;
            }

            .select__toggle-icon {
                display: none;
            }
        }
    }

    &__columns {
        @extend .flex-column;

        gap: 10px;

        padding: .7rem;

        label {
            width: 100%;
        }
    }

    &__search {
        max-width: 400px;
    }
}

.table-compact>:not(caption)>*>* {
    padding: .25rem !important
}