@import 'theme/variables';
@import 'theme/color-schemes';

@import 'utils/animations';

@import 'base/reset';
@import 'base/typography';

@import 'layouts/app';
@import 'layouts/header';
@import 'layouts/sidebar';
@import 'layouts/error';

@import 'partials/loading';
@import 'partials/breadcrumb';
@import 'partials/simplebar';
@import 'partials/tooltip';
@import 'partials/notyf';
@import 'partials/skeleton';
@import 'partials/busy';
@import 'partials/popover';
@import 'partials/confirmation';
@import 'partials/search';
@import 'partials/scrollup';
@import 'partials/customization';
@import 'partials/md-content';

@import 'components/card';
@import 'components/buttons';
@import 'components/dropdown';
@import 'components/modals';
@import 'components/tabs';
@import 'components/right_sidebar';
@import 'components/form';
@import 'components/radio-group';
@import 'components/toggle';
@import 'components/alert';
@import 'components/checkbox';
@import 'components/input';
@import 'components/pickr';
// @import 'components/flatpickr';
@import 'components/link';
@import 'components/tabbar';
@import 'components/select';
@import 'components/textarea';
@import 'components/badge';
@import 'components/table';
@import 'components/sortable';
@import 'components/metric';
@import 'components/editor';
@import 'components/charts';