.database-step {
    .alert {
        border-radius: var(--border05);
        padding: 0.75rem 1rem;
        font-weight: 500;
        font-size: var(--p-small);
        animation: fadeInDown 0.4s cubic-bezier(0.25, 0.1, 0.25, 1.0);

        &--danger {
            border: 1px solid var(--error-light);
            color: var(--error);
        }

        &--success {
            border: 1px solid var(--success-light);
            color: var(--success);
        }
    }

    .database-form {
        &__section {
            padding: 1.5rem 0;
            animation: fadeIn 0.7s cubic-bezier(0.25, 0.1, 0.25, 1.0);
        }
    }

    .form-group {
        margin-bottom: 1rem;

        &-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
        }
    }

    .database-form__actions {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
}