.welcome-step {
    margin-top: 3rem;

    &__author {
        margin-top: .7rem;
        font-size: var(--small);
        text-align: center;
        opacity: .5;

        a {
            color: var(--accent);
            text-decoration: none;
        }
    }

    &__button {
        min-width: 250px;

        &:hover {
            transform: translateY(0px);
        }

        &-container {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            position: relative;
            margin-left: 60px;

            &:hover {
                .welcome-step__button-icon {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }

        &-icon {
            opacity: 0;
            height: 49px;
            width: 49px;
            padding: .7rem;
            border-radius: 50%;
            background-color: var(--primary);
            color: var(--primary-950);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
            pointer-events: none;
        }
    }
}