@import 'layout/main';

article {
    padding-bottom: 17px;
}

.tip_example {
    max-width: 100%;
    width: 340px;
    text-align: center;
    border-radius: var(--border-radius);
    // border: 1px solid $color-primary;
    margin: 0 auto;
    display: block;
}

.radio_button_block {
    input {
        display: none;

        &:checked + label {
            border-color: $color-primary;
            color: $color-primary;
            // font-weight: 600;
        }
    }

    label {
        justify-content: center;
        cursor: pointer;
        font-size: 15px;
        margin-bottom: 10px;
        transition: .3s;
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 25px 30px;
        background: none;
        font-weight: 500;
        border-radius: 18px;
        border: 2px solid $color-inactive;
        color: $color-inactive;
    }
}