@import 'layout/main';

$transition: .5s;

.migrations {
    display: flex;
    align-items: center;
    gap: 20px;

    &.next {
        .database {
            left: 50%;
            transform: translateX(-50%);
            opacity: 1;
        }

        .choose_cms {
            transform: translateX(100%);
            opacity: 0;
        }
    }
}

.choose_cms {
    transition: $transition;
}

.database {
    position: absolute;
    left: -140px;
    transition: $transition;
    opacity: 0;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 10px;

    // Will be removed
    opacity: .5;
    cursor: not-allowed;
}

.cms {
    width: 100%;
    transition: $transition;
    border: 1px solid #ffffff10;
    border-radius: 50px;
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    position: relative;
    height: 90px;
    padding-left: 92px;
    user-select: none;

    >.carot {
        color: $color-inactive;
        font-size: 10px;
        transition: $transition;
    }

    .icon {
        height: 74px;
        width: 74px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-disabled;
        border-radius: 50px;
        position: absolute;
        transition: left $transition, transform $transition;
        left: 8px;
        animation: bounce-back 0.6s ease forwards;

        svg {
            width: 40px;
            height: 40px;
            fill: #fff;
            transition: $transition;
        }
    }

    .content {
        position: relative;
        transition: $transition;

        p {
            font-size: 14px;
            color: $color-inactive;
            transition: $transition;
            font-weight: 400;
        }

        span {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            transition: $transition;
        }
    }

    &:hover {
        border: 1px solid #ffffff20;

        >.carot {
            color: $color-text;
        }

        .icon {
            svg {
                fill: $color-primary;
            }
        }

        .content {
            p {
                color: $color-text;
            }

            span {
                color: $color-primary;
            }
        }
    }

    .ph-check {
        left: 35px;
        font-size: 35px;
        color: $color-text-inverse;
        position: absolute;
        transition: .5s;
        top: -10px;
        opacity: 0;
    }

    &.active {
        border-color: $color-primary;
        background-color: $color-primary;
        padding-left: 75px;

        .content {
            p {
                color: $color-inactive;
            }

            span {
                color: $color-text-inverse;
            }
        }

        >.carot {
            opacity: 0;
            visibility: hidden;
        }

        .icon {
            // left: calc(100% - 82px);
            animation: bounce 0.6s forwards;

            svg {
                fill: $color-primary;
            }
        }

        .ph-check {
            opacity: 1;
            top: 25px;
        }
    }
}

.a {
    text-align: center;
    color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    transition: $transition;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    gap: 5px;

    &:hover {
        color: $color-primary;
    }
}

@keyframes bounce {
    0% {
        left: 8px;
    }

    60% {
        left: calc(100% - 75px);
        transform: scaleX(.9);
    }

    100% {
        left: calc(100% - 82px);
        transform: scaleX(1);
    }
}

@keyframes bounce-back {
    0% {
        left: calc(100% - 82px);
        transform: scaleX(1);
    }

    60% {
        left: 5px;
        transform: scaleX(.9);
    }

    100% {
        left: 8px;
    }
}