@import 'layout/main';

.exts_name {
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 400;

    &.link {
        color: $color-primary;

        &:hover {
            color: $color-primary;
        }
    }

    &:focus {
        background: none;
    }
}

article>footer {
    margin-top: 0;
}

.container-installer {
    margin-bottom: 75px;
}

.exts_list {
    max-height: 200px;
    overflow-y: auto;

    .ext {
        display: flex;
        padding: 10px;
        border-radius: 50px;
        background-color: $color-disabled;
        margin-right: 10px;
        align-items: center;
        gap: 15px;


        .ext_name {
            position: relative;

            span {
                position: absolute;
                top: -15px;
                white-space: nowrap;
                opacity: 0;
                transition: .3s;
            }

            p {
                font-size: 14px;
                font-weight: 500;
                transition: .3s;
            }
        }

        &:hover {
            .ext_name {
                span {
                    top: 0;
                    opacity: 1;
                }

                p {
                    transform: translateY(15px);
                    opacity: 0;
                }
            }
        }

        .ext_icon {
            font-size: 16px;
            width: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            background-color: #ffffff0a;

            >div {
                border-bottom: 0px;
            }
        }

        &.loaded {
            color: $color-success;
        }

        &.recommended {
            color: $color-warning;
        }

        &.disabled {
            color: $color-error;
        }
    }
}