@import 'layout/main';

.check_data {
    text-align: center;
    color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    transition: $transition;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    gap: 5px;

    &.success {
        color: $color-success;
        cursor: default;
    }

    &.error {
        color: $color-error;
    }
}

.installer-btn {
    margin-bottom: 60px;
}