.toast-lang {
    padding: 25px 10px;
    cursor: default;
    white-space: nowrap;
    width: 100%;
    max-width: 450px;
    padding-right: 50px;

    .toast-content-icon {
        width: 50px;
        margin: 0 20px;
        margin-left: 10px;

        img {
            max-width: max-content;
            width: 50px;
        }
    }

    .icon-close {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
        font-size: 17px;
        opacity: .4;
        transition: .3s;
        cursor: pointer;

        &:hover {
            opacity: .7;
        }
    }

    .toast-header {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        letter-spacing: 0.3px;

        span {
            color: $color-primary;
        }
    }

    .toast-flex {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    .toast-buttons {
        display: flex;
        gap: 5px;
        align-items: center;

        button {
            padding: 5px 15px;
            font-weight: 600;
            font-size: 14px;
            border: 0;
            display: block;
            color: $color-secondary;
        }

        .choose_lang {
            background: $color-primary-light;
            color: $color-primary;
            border-radius: 6px;
        }
    }
}