@import 'utils/variables';
@import 'base/reset';
@import 'base/typography';
@import 'components/buttons';
@import 'components/inputs';
@import 'components/progress';
@import 'components/busy';

.container-installer {
    transition: .3s;
    max-width: 750px;

    &.bigger {
        max-width: 800px;
    }
}

#content {
    opacity: 0;
    transform: translateY(-100px);
    animation: contentAppearance .6s ease forwards;
    animation-delay: .6s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

@keyframes stepsAnimation {
    0% {
        opacity: 0;
        left: 100%;
    }

    100% {
        opacity: 1;
    }
}

@keyframes contentAppearance {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes logoContainerEntrance {

    0%,
    40% {
        transform: scale(1.8);
        opacity: 1;
        bottom: 50%;
    }

    100% {
        transform: scale(1);
        opacity: .3;
        bottom: 100px;
    }
}

@keyframes logoImageEntrance {

    0%,
    40% {
        bottom: 70%;
        left: 50%;
        transform: translateX(-50%) scale(1.8);
        -webkit-mask-image: linear-gradient(to top, transparent, black 70%);
        mask-image: linear-gradient(to top, transparent, black 70%);
    }

    100% {
        bottom: 0;
        left: 0;
        transform: translateX(0) scale(1);
        -webkit-mask-image: linear-gradient(to top, transparent, black 0%);
        mask-image: linear-gradient(to top, transparent, black 0%);
    }
}

@keyframes fadeOutGradient {

    0%,
    40% {
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    }

    100% {
        background: linear-gradient(transparent, rgba(0, 0, 0, 0));
    }
}

.logo-container {
    opacity: .3;
    transition: opacity 0.5s;
    text-align: center;
    bottom: 100px;
    display: flex;
    align-items: flex-end;
    white-space: nowrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    gap: 10px;
    position: absolute;
    animation: logoContainerEntrance 1.2s ease forwards;
    width: 180px;

    img {
        width: 18px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) scale(1.8);
        animation: logoImageEntrance 1.2s ease forwards;
        -webkit-mask-image: linear-gradient(to top, transparent, black 70%);
        mask-image: linear-gradient(to top, transparent, black 70%);
    }

    .text-logo {
        line-height: 0.9;
        margin: 0;
        font-size: 23px;
        font-weight: 600;
        z-index: 2;
    }
}