.navigation-item {
    &-icon {
        background-color: var(--transp-1);
        width: 36px;
        height: 36px;
        border-radius: var(--border05);
        color: var(--accent);
        padding: 7px;
    }

    a {
        transition: var(--transition);
        width: max-content;
    }
}

.navigation-modal-roles{
    .card-body {
        padding: 1rem;
    }
}