.lk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-header {
        margin-bottom: 20px;
        transition: $transition;
        color: $color-white-20;

        &.active {
            color: $color-primary;
        }
    }

    &-gateways,
    &-result {
        flex: 1;
    }

    &-gateways {
        &-content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 15px;

            .gateway {
                flex: 1;
                height: 130px;
                border-radius: ($border-radius / 2);
                border: 1px solid transparent;
                position: relative;
                background-color: $color-disabled;
                transition: $transition;
                overflow: hidden;

                &::after {
                    position: absolute;
                    content: "";
                    width: 100px;
                    height: 4px;
                    border-radius: 12px;
                    left: 50%;
                    opacity: 0;
                    transform: translate(-50%, 0);
                    background-color: $color-primary;
                }

                >img {
                    max-width: 90px;
                    max-height: 90px;
                    object-fit: cover;
                }

                &.active {
                    background: linear-gradient(45deg, $color-primary-light, transparent);
                    border: 1px solid $color-primary;

                    &::after {
                        animation: indicatorAnimation .7s ease forwards;
                    }
                }
            }
        }
    }

    &-result {
        margin-left: 15px;
        padding-left: 15px;
        border-left: 1px solid $color-white-10;
        transition: $transition;

        &.inactive {
            opacity: .3;
            cursor: not-allowed;
            pointer-events: none;
            user-select: none;
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: $color-card;
            padding: 20px;
            border-radius: $border-radius / 2;

            &-info {
                background-color: $color-white-3;
                padding: 10px 15px;
                border-radius: 6px;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                display: none;

                &.show {
                    display: flex;
                }

                &#amount_to_pay {
                    span {
                        opacity: .6;
                    }
                }

                p {
                    color: $color-gray;
                }

                p, span {
                    font-size: 14px;
                    font-weight: 500;
                }

                span {
                    color: $color-primary;
                }
            }
        }
    }
}

.input-lk {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;

    label {
        font-size: 12px;
    }

    input {
        padding: 17px;
        background-color: $color-disabled;
        border: 1px solid $color-white-5;
        border-radius: ($border-radius / 2);
        color: $color-text;
        font-size: 14px;
        width: 100%;
        transition: $transition;

        &.with--btn {
            padding-right: 120px;
        }

        &:focus {
            border: 1px solid $color-primary;
        }

        &[aria-invalid=false] {
            border: 1px solid rgba(101, 255, 126, 0.20);
            background: rgba(101, 255, 126, 0.02);
        }

        &[aria-invalid=true] {
            border-color: rgba(241, 73, 73, 0.20);
            background: rgba(241, 73, 73, 0.02);
        }
    }

    .btn-absolute {
        width: min-content;
        right: 15px;
        position: absolute;
        font-size: 12px;
        top: 37px;
        color: $color-gray;
        background-color: $color-white-5;
        padding: 5px 10px;
        border-radius: 6px;
        font-weight: 500;
        transition: $transition;
        visibility: hidden;
        opacity: 0;

        &.show {
            opacity: 1;
            visibility: visible;
        }

        &:hover {
            background-color: $color-white-10;
            color: $color-text;
        }
    }

    .message {
        font-size: 12px;
        transition: $transition;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3px;

        i {
            font-size: 14px;
        }

        &.success {
            color: $color-success;
        }

        &.error {
            color: $color-error;
        }
    }
}

.form-checkbox {

    label,
    a {
        font-size: 14px !important;
    }
}


@keyframes indicatorAnimation {

    0% {
        bottom: -10px;
    }

    40% {
        opacity: 1;
        bottom: 13px;
    }

    100% {
        opacity: 1;
        bottom: 10px;
    }
}