@import 'utils/mixins';

.profile_tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;

    >a {
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 10px;
        padding: 15px 20px;
        border-radius: ($border-radius / 2);
        color: darken($color-text, 30);
        font-weight: 500;
        transition: .3s;
        cursor: pointer;

        i {
            font-size: 18px;
        }

        &:hover {
            background-color: $color-primary-light;
            color: $color-primary;
        }

        &.active {
            background-color: $color-primary;
            color: $color-text-inverse;
        }

        &.yellow {
            background-color: #FFDA69;
            color: $color-text-inverse;
        }
    }
}

.profile_container {
    border-radius: $border-radius;
    overflow: hidden;

    .profile_avatar_wrapper {
        position: relative;
        height: 130px;
        z-index: 1;
        width: 130px;
        border-radius: ($border-radius / 2);
        margin-left: 20px;
    
        .profile_avatar {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border: 4px solid transparent;
            position: relative;
            border-radius: ($border-radius / 2);
        }

        .profile_change_ico {
            font-family: "Phosphor";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            opacity: 0;
            transition: $transition;
        }
    
        &.editable {
            cursor: pointer;
    
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: $transition;
                background-color: rgba(0, 0, 0, 0.5);
                width: 100%;
                height: 100%;
                border-radius: ($border-radius / 2);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:hover .profile_change_ico {
                opacity: 1;
            }
    
            &:hover::before {
                opacity: 1;
            }
        }
    }

    .profile_edit_btn {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 15px;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .profile_user_roles {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;

        .profile_user_role {
            background: $color-white-5;
            padding: 5px 10px;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 40px;
            display: flex;
            flex-direction: row;
            gap: 7px;
            align-items: center;
            @include blur(10px);

            .profile_user_role_square {
                background: #fff;
                width: 12px;
                height: 12px;
                border-radius: 50%;
            }
        }
    }

    .profile_background_info {
        background: $color-card;
        min-height: 90px;
        padding-left: 170px;
        margin-top: -14px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        align-items: flex-end;

        @media (max-width: 767px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 0;
            padding-bottom: 20px;
        }
    }

    .profile_info {
        margin-top: -75px;
        position: relative;

        @media (max-width: 767px) {
            margin-top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            background: $color-card;
        }
    }

    .profile_up_socials {
        position: absolute;
        right: 20px;
        top: 0;
        background-color: $color-card;
        padding: 10px;
        border-radius: ($border-radius / 2);
        font-size: 16px;
        display: flex;
        flex-direction: row;
        gap: 10px;

        > a {
            color: $color-inactive;
            transition: $transition;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                fill: $color-inactive;
                transition: $transition;
            }

            i {
                font-size: 22px;
            }

            &:hover {
                color: $color-text;

                svg {
                    fill: $color-text;
                }
            }
        }

        @media (max-width: 767px) {
            position: relative;
            right: 0;
            background: var(--background-color);
            justify-content: center;
            margin: 10px 0;
        }
    }

    .profile_up_info {
        margin-top: -130px;
        padding-left: 170px;
        height: 65px;

        @media (max-width: 767px) {
            margin-top: 0;
            padding-left: 0;
            height: 100%;
        }

        h2 {
            font-size: 19px;
            margin: 0;
            line-height: 1;
            letter-spacing: 0.2px;

            @media (max-width: 767px) {
                font-size: 17px;
                max-width: 220px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        p {
            margin: 0;
            line-height: 2;
            font-size: 13px;
            color: #ffffff69;
            letter-spacing: 0.5px;
        }
    }

    .profile_banner {
        border-radius: 0;
        top: 0;
        left: 0;
        right: 0;
        position: relative;
        height: 240px;

        @media (max-width: 767px) {
            height: 160px;
        }

        &::before {
            content: "";
            background: linear-gradient(180deg, rgba(15, 20, 27, 0.1) 0, #0000001a 35%, $color-card 90%);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
        }
    }
}

#profile_banner_change {
    z-index: 1;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 18px;
    opacity: .5;
    cursor: pointer;
    transition: .3s;

    &:hover {
        opacity: 1;
    }
}

.progress-bar {
    width: 0%;
    height: 4px;
    background: $color-primary;
    /* Change to your preferred color */
    transition: width 0.3s ease;
}

.avatar-border {
    position: absolute;
    width: 130px;
    height: 130px;
    margin-left: 20px;
    margin-top: 0px;
    background: $color-card;
    border-radius: ($border-radius / 2);
    overflow: hidden;

    @media (max-width: 767px) {
        margin-left: 0;
    }
}

.avatar-loading-indicator {
    position: absolute;
    top: 0;
    left: -20px;
    width: 0;
    height: 100%;
    border: 10px solid $color-primary;
    transition: .3s;
    display: none;
}