.remember_me_link {
    color: $color-primary;
    opacity: .8;
    transition: $transition;
    font-size: 14px;

    &:hover {
        color: $color-primary;
        opacity: 1;
    }
}

.container_auth_line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .line {
        flex-grow: 1;
        height: 2px;
        background: $color-white-5;
    }

    .text {
        white-space: nowrap;
        margin: 0;
        font-weight: 500;
        color: $color-white-20;
        text-transform: uppercase;
        font-size: 13px;
    }
}

.auth-title {
    text-align: center;
}

.auth_socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;

    .auth_social_item {
        border-radius: $border-radius / 2;
        transition: $transition;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $color-white-10;
        width: 100%;
        padding: 15px;
        gap: 10px;
        color: $color-text;
        width: 170px;
        position: relative;
        overflow: hidden;
        padding-left: 65px;

        svg,
        i {
            position: absolute;
            left: -15px;
            bottom: -20px;
            transform: rotate(-15deg);
        }

        svg {
            fill: darken($color-text, 40);
            transition: $transition;
            width: 80px;
            height: 80px;
        }

        i {
            color: darken($color-text, 40);
            font-size: 80px;
            transition: 0.3s;
        }

        p {
            margin: 0;
            line-height: 1.5;
        }

        &:hover {
            border: 1px solid $color-white-20;
            background-color: $color-primary-light;

            svg {
                fill: $color-primary;
            }

            i {
                color: $color-primary;
            }
            
            i, svg {
                transform: rotate(0deg);
            }

            p {
                color: $color-primary;
            }
        }
    }
}

.auth_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

    p {
        font-weight: 500;
        color: $color-gray;
    }

    p,
    a {
        font-size: 14px;
        margin: 0;
    }

    a {
        color: $color-primary;
    }
}