.remember_me_link {
    color: $color-primary;
    opacity: .8;
    transition: $transition;
    font-size: 14px;

    &:hover {
        color: $color-primary;
        opacity: 1;
    }
}

.container_auth_line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .line {
        flex-grow: 1;
        height: 2px;
        background: $color-white-5;
    }

    .text {
        white-space: nowrap;
        margin: 0;
        font-weight: 500;
        color: $color-white-20;
        text-transform: uppercase;
        font-size: 13px;
    }
}

.auth-title {
    text-align: center;
}

.auth_socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 15px;

    .auth_social_item {
        background: $color-disabled;
        border-radius: $border-radius;
        transition: $transition;
        display: flex;
        height: 50px;
        width: 50px;
        align-items: center;
        justify-content: center;
        border: 1px solid $color-white-10;

        svg {
            fill: $color-text;
            transition: $transition;
        }

        i {
            font-size: 25px;
        }

        &:hover {
            border: 1px solid $color-white-20;
            background-color: $color-primary-light;

            svg {
                fill: $color-primary;
            }

            i {
                color: $color-primary;
            }
        }
    }
}

.auth_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;

    p {
        font-weight: 500;
        color: $color-gray;
    }

    p,
    a {
        font-size: 14px;
        margin: 0;
    }

    a {
        color: $color-primary;
    }
}