.profile_edit_buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
        background: $color-disabled;
        display: flex;
        border-radius: ($border-radius / 2);
        align-items: center;
        gap: 20px;
        padding: 15px 20px;
        transition: .3s;
        color: $color-text;

        .profile_edit_flex {
            display: flex;
            flex-direction: column;
            gap: 3px;

            .profile_edit_sidebar_header {
                text-transform: uppercase;
                color: $color-text;
                letter-spacing: 0.2px;
                font-size: 14px;
                font-weight: bold;
                line-height: 1.1;
                transition: .3s;
            }

            .profile_edit_sidebar_text {
                font-size: 12px;
                opacity: .4;
                text-wrap: balance;
            }

            div {
                line-height: 1;
            }
        }

        &:hover, &.active {
            background-color: $color-primary-light;
            color: $color-primary;

            .profile_edit_sidebar_header {
                color: $color-primary;
            }
        }

        &.active {
            pointer-events: none;
            cursor: default;
        }

        &.primary {
            background: $color-primary;
            color: $color-text-inverse;

            .profile_edit_sidebar_header {
                color: $color-text-inverse
            }
        }

        i {
            width: 20px;
            font-size: 22px;
        }
    }
}

.profile_settings {
    &_setting {
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 2px solid $color-white-5;

        &_title {
            font-size: 13px;
            font-weight: 500;
            color: $color-gray;
            margin-bottom: 10px;
        }

        &:first-child {
            padding-top: 10px;
        }

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border: 0;
        }
    }
}