// Базовые стили
body {
    font-family: $font-primary;
    color: $color-text;
    background-color: $color-bg;
    font-size: $font-size-base;
    line-height: $font-line-height;
}

// Заголовки
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-secondary;
}

// Параграфы и ссылки
p,
a {
    font-size: $font-size-base;
    line-height: 1.6;
}

a {
    color: $color-primary;
    text-decoration: none;

    &:hover {
        color: darken($color-primary, 15%);
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: $color-disabled;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $color-primary;
}

ul {
    list-style-type: none;
}

::-moz-selection {
    background: $color-primary-light;
}

::selection {
    background: $color-primary-light;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

.text-center {
    text-align: center;
}