.dropzone-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--blurred-background);
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    backdrop-filter: blur(10px);
    pointer-events: none;
    
    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        
        .dropzone-overlay__content {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    &__content {
        padding: var(--space-xl);
        text-align: center;
        max-width: 31.25rem;
        width: 100%;
        transform: translateY(-20px);
        opacity: 0;
        transition: 
            transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275), 
            opacity 0.4s ease, 
            background-color 0.3s ease, 
            border-color 0.3s ease, 
            box-shadow 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        .dropzone-icon {
            font-size: calc(var(--h1) * 1.8);
            color: var(--accent);
            animation: float 3s ease-in-out infinite;
            display: block;
            margin: 0 auto;
            transition: color 0.3s ease, transform 0.3s ease;
        }
        
        h3 {
            font-size: var(--h3);
            margin-top: var(--space-lg);
            margin-bottom: var(--space-md);
            color: var(--text);
            font-weight: 600;
            transition: color 0.3s ease;
            line-height: 1.4;
        }
        
        p {
            margin-bottom: var(--space-md);
            color: var(--text-500);
            font-size: var(--p);
            transition: color 0.3s ease;
            text-align: center;
        }
    }
}

@keyframes progress-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1rem 0;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}