.paid-status {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    color: $color-text-inverse;
    font-weight: 500;

    &.paid {
        background-color: $color-success;
    }

    &.notpaid {
        background-color: $color-error;
    }
}

.paid-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}