.confirmation-dialog {
    &__icon {
        @extend .flex-center;

        >svg {
            @extend .flex-center;

            border-radius: 50%;
            background-color: var(--transp-1);
            color: var(--primary);
            width: 50px;
            height: 50px;
            padding: 10px;

            &.icon-error {
                color: var(--error);
                background-color: var(--error-light);
            }

            &.icon-success {
                color: var(--success);
                background-color: var(--success-light);
            }

            &.icon-warning {
                color: var(--warning);
                background-color: var(--warning-light);
            }

            &.icon-info {
                color: var(--info);
                background-color: var(--info-light);
            }
        }
    }
}

#confirmation-dialog-content {
    margin: 1.5rem 0;
}

#confirmation-dialog-message {
    max-width: 450px;
    line-height: 1.7;
    font-size: var(--p);
    color: var(--text-200);
    margin: 0 auto;
}