.skeleton {
    @extend .blur-bg;

    background-color: var(--transp-1);
    display: inline-block;
    min-height: 1em;
    min-width: 1em;
    position: relative;
    overflow: hidden;
    border-radius: var(--border1);

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg,
                rgba(255, 255, 255, 0) 0%,
                var(--transp-1) 20%,
                var(--transp-1) 60%,
                rgba(255, 255, 255, 0) 100%);
        animation: shimmer 1.6s cubic-bezier(0.22, 1, 0.36, 1) infinite;
        content: '';
    }

    @keyframes shimmer { to { transform: translateX(100%); } }
}